# Coreference Resolution
---

In [1]:
%%time
import spacy
nlp = spacy.load("en_core_web_md")

CPU times: user 4.57 s, sys: 1.52 s, total: 6.1 s
Wall time: 22.5 s

In [2]:
text = """
Mr. Speaker, Mr. President Pro Tempore, members of Congress, and fellow Americans:
In the normal course of events, Presidents come to this chamber to report on the state of the Union. Tonight, no such report is needed. It has already been delivered by the American people.
We have seen it in the courage of passengers, who rushed terrorists to save others on the ground -- passengers like an exceptional man named Todd Beamer. And would you please help me to welcome his wife, Lisa Beamer, here tonight. We have seen the state of our Union in the endurance of rescuers, working past exhaustion. We've seen the unfurling of flags, the lighting of candles, the giving of blood, the saying of prayers -- in English, Hebrew, and Arabic. We have seen the decency of a loving and giving people who have made the grief of strangers their own. My fellow citizens, for the last nine days, the entire world has seen for itself the state of our Union -- and it is strong.
Tonight we are a country awakened to danger and called to defend freedom. Our grief has turned to anger, and anger to resolution. Whether we bring our enemies to justice, or bring justice to our enemies, justice will be done. I thank the Congress for its leadership at such an important time. All of America was touched on the evening of the tragedy to see Republicans and Democrats joined together on the steps of this Capitol, singing "God Bless America." And you did more than sing; you acted, by delivering 40 billion dollars to rebuild our communities and meet the needs of our military. Speaker Hastert, Minority Leader Gephardt, Majority Leader Daschle, and Senator Lott, I thank you for your friendship, for your leadership, and for your service to our country. And on behalf of the American people, I thank the world for its outpouring of support. America will never forget the sounds of our National Anthem playing at Buckingham Palace, on the streets of Paris, and at Berlin's Brandenburg Gate.
We will not forget South Korean children gathering to pray outside our embassy in Seoul, or the prayers of sympathy offered at a mosque in Cairo. We will not forget moments of silence and days of mourning in Australia and Africa and Latin America. Nor will we forget the citizens of 80 other nations who died with our own: dozens of Pakistanis; more than 130 Israelis; more than 250 citizens of India; men and women from El Salvador, Iran, Mexico, and Japan; and hundreds of British citizens. America has no truer friend than Great Britain. Once again, we are joined together in a great cause -- so honored the British Prime Minister has crossed an ocean to show his unity with America. Thank you for coming, friend.
On September the 11th, enemies of freedom committed an act of war against our country. Americans have known wars -- but for the past 136 years, they have been wars on foreign soil, except for one Sunday in 1941. Americans have known the casualties of war -- but not at the center of a great city on a peaceful morning. Americans have known surprise attacks -- but never before on thousands of civilians. All of this was brought upon us in a single day -- and night fell on a different world, a world where freedom itself is under attack. Americans have many questions tonight. Americans are asking: Who attacked our country? The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda. They are some of the murderers indicted for bombing American embassies in Tanzania and Kenya, and responsible for bombing the USS Cole. Al Qaeda is to terror what the mafia is to crime. But its goal is not making money; its goal is remaking the world -- and imposing its radical beliefs on people everywhere.
The terrorists practice a fringe form of Islamic extremism that has been rejected by Muslim scholars and the vast majority of Muslim clerics, a fringe movement that perverts the peaceful teachings of Islam. The terrorists' directive commands them to kill Christians and Jews, to kill all Americans, and make no distinctions among military and civilians, including women and children. This group and its leader -- a person named Usama bin Laden -- are linked to many other organizations in different countries, including the Egyptian Islamic Jihad and the Islamic Movement of Uzbekistan. There are thousands of these terrorists in more than 60 countries. They are recruited from their own nations and neighborhoods and brought to camps in places like Afghanistan, where they are trained in the tactics of terror. They are sent back to their homes or sent to hide in countries around the world to plot evil and destruction.
The leadership of al Qaeda has great influence in Afghanistan and supports the Taliban regime in controlling most of that country. In Afghanistan, we see al Qaeda's vision for the world. Afghanistan's people have been brutalized; many are starving and many have fled. Women are not allowed to attend school. You can be jailed for owning a television. Religion can be practiced only as their leaders dictate. A man can be jailed in Afghanistan if his beard is not long enough. 
The United States respects the people of Afghanistan. After all, we are currently its largest source of humanitarian aid; but we condemn the Taliban regime. It is not only repressing its own people, it is threatening people everywhere by sponsoring and sheltering and supplying terrorists. By aiding and abetting murder, the Taliban regime is committing murder.
And tonight, the United States of America makes the following demands on the Taliban: Deliver to United States authorities all the leaders of al Qaeda who hide in your land. Release all foreign nationals, including American citizens, you have unjustly imprisoned. Protect foreign journalists, diplomats, and aid workers in your country. Close immediately and permanently every terrorist training camp in Afghanistan, and hand over every terrorist, and every person in their support structure, to appropriate authorities. Give the United States full access to terrorist training camps, so we can make sure they are no longer operating. These demands are not open to negotiation or discussion. The Taliban must act, and act immediately. They will hand over the terrorists, or they will share in their fate.
I also want to speak tonight directly to Muslims throughout the world. We respect your faith. It's practiced freely by many millions of Americans, and by millions more in countries that America counts as friends. Its teachings are good and peaceful, and those who commit evil in the name of Allah blaspheme the name of Allah. The terrorists are traitors to their own faith, trying, in effect, to hijack Islam itself. The enemy of America is not our many Muslim friends; it is not our many Arab friends. Our enemy is a radical network of terrorists, and every government that supports them. Our war on terror begins with al Qaeda, but it does not end there. It will not end until every terrorist group of global reach has been found, stopped, and defeated.
Americans are asking, why do they hate us? They hate what they see right here in this chamber -- a democratically elected government. Their leaders are self-appointed. They hate our freedoms -- our freedom of religion, our freedom of speech, our freedom to vote and assemble and disagree with each other. They want to overthrow existing governments in many Muslim countries, such as Egypt, Saudi Arabia, and Jordan. They want to drive Israel out of the Middle East. They want to drive Christians and Jews out of vast regions of Asia and Africa. These terrorists kill not merely to end lives, but to disrupt and end a way of life. With every atrocity, they hope that America grows fearful, retreating from the world and forsaking our friends. They stand against us, because we stand in their way.
We are not deceived by their pretenses to piety. We have seen their kind before. They are the heirs of all the murderous ideologies of the 20th century. By sacrificing human life to serve their radical visions -- by abandoning every value except the will to power -- they follow in the path of fascism, Nazism, and totalitarianism. And they will follow that path all the way, to where it ends: in history's unmarked grave of discarded lies. Americans are asking: How will we fight and win this war? We will direct every resource at our command -- every means of diplomacy, every tool of intelligence, every instrument of law enforcement, every financial influence, and every necessary weapon of war -- to the disruption and to the defeat of the global terror network.
Now this war will not be like the war against Iraq a decade ago, with a decisive liberation of territory and a swift conclusion. It will not look like the air war above Kosovo two years ago, where no ground troops were used and not a single American was lost in combat. Our response involves far more than instant retaliation and isolated strikes. Americans should not expect one battle, but a lengthy campaign, unlike any other we have ever seen. It may include dramatic strikes, visible on TV, and covert operations, secret even in success. We will starve terrorists of funding, turn them one against another, drive them from place to place, until there is no refuge or no rest. And we will pursue nations that provide aid or safe haven to terrorism. Every nation, in every region, now has a decision to make. Either you are with us, or you are with the terrorists. From this day forward, any nation that continues to harbor or support terrorism will be regarded by the United States as a hostile regime.
Our nation has been put on notice: We're not immune from attack. We will take defensive measures against terrorism to protect Americans. Today, dozens of federal departments and agencies, as well as state and local governments, have responsibilities affecting homeland security. These efforts must be coordinated at the highest level. So tonight, I announce the creation of a Cabinet-level position reporting directly to me -- the Office of Homeland Security. And tonight I also announce a distinguished American to lead this effort, to strengthen American security: a military veteran, an effective governor, a true patriot, a trusted friend -- Pennsylvania's Tom Ridge. He will lead, oversee, and coordinate a comprehensive national strategy to safeguard our country against terrorism, and respond to any attacks that may come.
These measures are essential. But the only way to defeat terrorism as a threat to our way of life is to stop it, eliminate it, and destroy it where it grows. Many will be involved in this effort, from FBI agents to intelligence operatives to the reservists we have called to active duty. All deserve our thanks, and all have our prayers. And tonight, a few miles from the damaged Pentagon, I have a message for our military: Be ready. I've called the Armed Forces to alert, and there is a reason. The hour is coming when America will act, and you will make us proud. This is not, however, just America's fight. And what is at stake is not just America's freedom. This is the world's fight. This is civilization's fight. This is the fight of all who believe in progress and pluralism, tolerance and freedom.
We ask every nation to join us. We will ask, and we will need, the help of police forces, intelligence services, and banking systems around the world. The United States is grateful that many nations and many international organizations have already responded -- with sympathy and with support. Nations from Latin America, to Asia, to Africa, to Europe, to the Islamic world. Perhaps the NATO Charter reflects best the attitude of the world: An attack on one is an attack on all. The civilized world is rallying to America's side. They understand that if this terror goes unpunished, their own cities, their own citizens may be next. Terror, unanswered, can not only bring down buildings, it can threaten the stability of legitimate governments. And you know what? We're not going to allow it.
Americans are asking: What is expected of us? I ask you to live your lives, and hug your children. I know many citizens have fears tonight, and I ask you to be calm and resolute, even in the face of a continuing threat. I ask you to uphold the values of America, and remember why so many have come here. We are in a fight for our principles, and our first responsibility is to live by them. No one should be singled out for unfair treatment or unkind words because of their ethnic background or religious faith. I ask you to continue to support the victims of this tragedy with your contributions. Those who want to give can go to a central source of information, libertyunites.org, to find the names of groups providing direct help in New York, Pennsylvania, and Virginia.
The thousands of FBI agents who are now at work in this investigation may need your cooperation, and I ask you to give it. I ask for your patience, with the delays and inconveniences that may accompany tighter security; and for your patience in what will be a long struggle. I ask your continued participation and confidence in the American economy. Terrorists attacked a symbol of American prosperity. They did not touch its source. America is successful because of the hard work, and creativity, and enterprise of our people. These were the true strengths of our economy before September 11th, and they are our strengths today. And, finally, please continue praying for the victims of terror and their families, for those in uniform, and for our great country. Prayer has comforted us in sorrow, and will help strengthen us for the journey ahead.
Tonight I thank my fellow Americans for what you have already done and for what you will do. And ladies and gentlemen of the Congress, I thank you, their representatives, for what you have already done and for what we will do together. Tonight, we face new and sudden national challenges. We will come together to improve air safety, to dramatically expand the number of air marshals on domestic flights, and take new measures to prevent hijacking. We will come together to promote stability and keep our airlines flying, with direct assistance during this emergency. We will come together to give law enforcement the additional tools it needs to track down terror here at home. We will come together to strengthen our intelligence capabilities to know the plans of terrorists before they act, and to find them before they strike.
We will come together to take active steps that strengthen America's economy, and put our people back to work. Tonight we welcome two leaders who embody the extraordinary spirit of all New Yorkers: Governor George Pataki, and Mayor Rudolph Giuliani. As a symbol of America's resolve, my administration will work with Congress, and these two leaders, to show the world that we will rebuild New York City.
After all that has just passed -- all the lives taken, and all the possibilities and hopes that died with them -- it is natural to wonder if America's future is one of fear.  Some speak of an age of terror. I know there are struggles ahead, and dangers to face. But this country will define our times, not be defined by them. As long as the United States of America is determined and strong, this will not be an age of terror; this will be an age of liberty, here and across the world.
Great harm has been done to us. We have suffered great loss. And in our grief and anger we have found our mission and our moment. Freedom and fear are at war.  The advance of human freedom -- the great achievement of our time, and the great hope of every time -- now depends on us. Our nation, this generation will lift a dark threat of violence from our people and our future. We will rally the world to this cause by our efforts, by our courage. We will not tire, we will not falter, and we will not fail.
It is my hope that in the months and years ahead, life will return almost to normal.  We'll go back to our lives and routines, and that is good.  Even grief recedes with time and grace. But our resolve must not pass. Each of us will remember what happened that day, and to whom it happened. We'll remember the moment the news came -- where we were and what we were doing. Some will remember an image of a fire, or a story of rescue. Some will carry memories of a face and a voice gone forever.
And I will carry this: It is the police shield of a man named George Howard, who died at the World Trade Center trying to save others. It was given to me by his mom, Arlene, as a proud memorial to her son. It is my reminder of lives that ended, and a task that does not end. I will not forget this wound to our country or those who inflicted it. I will not yield; I will not rest; I will not relent in waging this struggle for freedom and security for the American people. The course of this conflict is not known, yet its outcome is certain. Freedom and fear, justice and cruelty, have always been at war, and we know that God is not neutral between them.
Fellow citizens, we'll meet violence with patient justice -- assured of the rightness of our cause, and confident of the victories to come. In all that lies before us, may God grant us wisdom, and may He watch over the United States of America.
Thank you.
"""

In [44]:
import pandas as pd
pd.set_option('display.max_colwidth', 0)

results = {
    "Sentence 1": 
    {
        "Coreferee": "The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda.",
        "Coref": "The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda.",
        "AllenNLP": "The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda."
    },
    "Sentence 2":
    {
        "Coreferee": "This group and This group and its leader -- a person named Usama bin Laden -- leader -- a person named Usama bin Laden -- are linked to many other organizations in different countries , including the Egyptian Islamic Jihad and the Islamic Movement of Uzbekistan",
        "Coref": "This group and Al Qaeda leader -- a person named Usama bin Laden -- are linked to many other organizations in different countries , including the Egyptian Islamic Jihad and the Islamic Movement of Uzbekistan",
        "AllenNLP": "a collection of loosely affiliated terrorist organizations known as al Qaeda and a collection of loosely affiliated terrorist organizations known as al Qaeda's leader -- a person named Usama bin Laden -- are linked to many other organizations in different countries, including the Egyptian Islamic Jihad and the Islamic Movement of Uzbekistan."
    }
}

heading_properties = [('font-size', '18px')]

cell_properties = [('font-size', '16px')]

for key, result in results.items():
    
    df = pd.DataFrame(result, index = [key]).T
    
    dfStyler = df.style.set_properties(**{'text-align': 'left'})
    dfStyler.set_table_styles([dict(selector='th', props=[('text-align', 'left')])])
    dfStyler.set_table_attributes('style="font-size: 25px"')
    
    display(dfStyler)

In [13]:
test = """The terrorists practice a fringe form of Islamic extremism that has been rejected by Muslim scholars and the vast majority of Muslim clerics, a fringe movement that perverts the peaceful teachings of Islam. The terrorists' directive commands them to kill Christians and Jews, to kill all Americans, and make no distinctions among military and civilians, including women and children. This group and its leader -- a person named Usama bin Laden -- are linked to many other organizations in different countries, including the Egyptian Islamic Jihad and the Islamic Movement of Uzbekistan. There are thousands of these terrorists in more than 60 countries. They are recruited from their own nations and neighborhoods and brought to camps in places like Afghanistan, where they are trained in the tactics of terror. They are sent back to their homes or sent to hide in countries around the world to plot evil and destruction.
"""

## Test Coreferee

Results:

accuracy: 63.02521008403361
correct: 75
incorrect: 44

In [4]:
import coreferee, spacy
nlp = spacy.load('en_core_web_md')
nlp.add_pipe("merge_entities")
nlp.add_pipe('coreferee')

/Users/stephenanningcorp/.local/lib/python3.8/site-packages/spacy/util.py:865: UserWarning: [W095] Model 'en_core_web_md' (3.1.0) was trained with spaCy v3.1 and may not be 100% compatible with the current version (3.4.1). If you see errors or degraded performance, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

In [54]:
doc = nlp(text)

from spacy.tokens import Span, Token
Token.set_extension("coref", default = None, force = True)

def get_coref_string(doclike):
    
    strings = []
    
    for token in doclike:
        
        roots = token._.coref_chains.resolve(token)
        
        if roots:
            
            for root in roots:
                span = Span(root.doc, root.left_edge.i, root.right_edge.i + 1, label = root.ent_type_)
            strings.append(str(span))
        else:
            strings.append(token.text)
            
    return ' '.join(strings)

cache = []
correct = 0
incorrect = 0

for chunk in doc:
    chain_roots = chunk._.coref_chains.resolve(chunk)

    if chain_roots:
        print(chunk, '=>', chain_roots)
        print(chunk.sent)
        print(get_coref_string(chunk.sent))
        
        answer = input("correct (y) / incorrect (n)")
        if answer.lower() == 'y':
            correct += 1
        if answer.lower() == 'n':
            incorrect +=1
        print('-----')
        
accuracy = (correct / (correct + incorrect))* 100

It => [report]
It has already been delivered by the American people.
no such report has already been delivered by the American people .

correct (y) / incorrect (n) n

-----
it => [report]

We have seen it in the courage of passengers, who rushed terrorists to save others on the ground -- passengers like an exceptional man named Todd Beamer.

 We have seen no such report in the courage of passengers , who rushed terrorists to save others on the ground -- passengers like an exceptional man named Todd Beamer .

correct (y) / incorrect (n) n

-----
his => [Todd Beamer]
And would you please help me to welcome his wife, Lisa Beamer, here tonight.
And would you please help me to welcome Todd Beamer wife , Lisa Beamer , here tonight .

correct (y) / incorrect (n) y

-----
their => [people]
We have seen the decency of a loving and giving people who have made the grief of strangers their own.
We have seen the decency of a loving and giving people who have made the grief of strangers people who have made the grief of strangers their own own .

correct (y) / incorrect (n) n

-----
itself => [world]
My fellow citizens, for the last nine days, the entire world has seen for itself the state of our Union -- and it is strong.
My fellow citizens , for the last nine days , the entire world has seen for the entire world the state of our Union -- and the entire world is strong .

correct (y) / incorrect (n) n

-----
it => [world]
My fellow citizens, for the last nine days, the entire world has seen for itself the state of our Union -- and it is strong.
My fellow citizens , for the last nine days , the entire world has seen for the entire world the state of our Union -- and the entire world is strong .

correct (y) / incorrect (n) n

-----
its => [Congress]
I thank the Congress for its leadership at such an important time.
I thank the Congress for the Congress leadership at such an important time .

correct (y) / incorrect (n) y

-----
its => [world]
And on behalf of the American people, I thank the world for its outpouring of support.
And on behalf of the American people , I thank the world for the world outpouring of support .

correct (y) / incorrect (n) y

-----
America => [Latin America]
America has no truer friend than Great Britain.
Latin America has no truer friend than Great Britain .

correct (y) / incorrect (n) n

-----
his => [friend]
Once again, we are joined together in a great cause -- so honored the British Prime Minister has crossed an ocean to show his unity with America.
Once again , we are joined together in a great cause -- so honored the British Prime Minister has crossed an ocean to show no truer friend than Great Britain unity with Latin America .

correct (y) / incorrect (n) n

-----
America => [Latin America]
Once again, we are joined together in a great cause -- so honored the British Prime Minister has crossed an ocean to show his unity with America.
Once again , we are joined together in a great cause -- so honored the British Prime Minister has crossed an ocean to show no truer friend than Great Britain unity with Latin America .

correct (y) / incorrect (n) n

-----
they => [Americans]
Americans have known wars -- but for the past 136 years, they have been wars on foreign soil, except for one Sunday in 1941.
Americans have known wars -- but for the past 136 years , Americans have been wars on foreign soil , except for one Sunday in 1941 .

correct (y) / incorrect (n) n

-----
Americans => [Americans]
Americans have known the casualties of war -- but not at the center of a great city on a peaceful morning.
Americans have known the casualties of war -- but not at the center of a great city on a peaceful morning .

correct (y) / incorrect (n) y

-----
Americans => [Americans]
Americans have known surprise attacks -- but never before on thousands of civilians.
Americans have known surprise attacks -- but never before on thousands of civilians .

correct (y) / incorrect (n) y

-----
itself => [night]
All of this was brought upon us in a single day -- and night fell on a different world, a world where freedom itself is under attack.
All of this was brought upon us in a single day -- and night fell on a different world , a world where freedom night is under attack .

correct (y) / incorrect (n) n

-----
Americans => [Americans]
Americans have many questions tonight.
Americans have many questions tonight .

correct (y) / incorrect (n) y

-----
Americans => [Americans]
Americans are asking: Who attacked our country?
Americans are asking : Who attacked our country ?

correct (y) / incorrect (n) y

-----
They => [Americans]
They are some of the murderers indicted for bombing American embassies in Tanzania and Kenya, and responsible for bombing the USS Cole.
Americans are some of the murderers indicted for bombing American embassies in Tanzania and Kenya , and responsible for bombing the USS Cole .

correct (y) / incorrect (n) n

-----
Al Qaeda => [al Qaeda]
Al Qaeda is to terror what the mafia is to crime.
al Qaeda is to terror what the mafia is to crime .

correct (y) / incorrect (n) y

-----
its => [mafia]
But its goal is not making money; its goal is remaking the world -- and imposing its radical beliefs on people everywhere.
But the mafia goal is not making money ; the mafia goal is remaking the world -- and imposing the mafia radical beliefs on people everywhere .

correct (y) / incorrect (n) n

-----
its => [mafia]
But its goal is not making money; its goal is remaking the world -- and imposing its radical beliefs on people everywhere.
But the mafia goal is not making money ; the mafia goal is remaking the world -- and imposing the mafia radical beliefs on people everywhere .

correct (y) / incorrect (n) n

-----
its => [mafia]
But its goal is not making money; its goal is remaking the world -- and imposing its radical beliefs on people everywhere.
But the mafia goal is not making money ; the mafia goal is remaking the world -- and imposing the mafia radical beliefs on people everywhere .

correct (y) / incorrect (n) n

-----
them => [terrorists]
The terrorists' directive commands them to kill Christians and Jews, to kill all Americans, and make no distinctions among military and civilians, including women and children.
The terrorists ' directive commands The terrorists' to kill Christians and Jews , to kill all Americans , and make no distinctions among military and civilians , including women and children .

correct (y) / incorrect (n) y

-----
its => [group]
This group and its leader -- a person named Usama bin Laden -- are linked to many other organizations in different countries, including the Egyptian Islamic Jihad and the Islamic Movement of Uzbekistan.
This group and This group and its leader -- a person named Usama bin Laden -- leader -- a person named Usama bin Laden -- are linked to many other organizations in different countries , including the Egyptian Islamic Jihad and the Islamic Movement of Uzbekistan .

correct (y) / incorrect (n) y

-----
terrorists => [terrorists]
There are thousands of these terrorists in more than 60 countries.
There are thousands of these The terrorists' in more than 60 countries .

correct (y) / incorrect (n) y

-----
They => [terrorists]
They are recruited from their own nations and neighborhoods and brought to camps in places like Afghanistan, where they are trained in the tactics of terror.
The terrorists' are recruited from The terrorists' own nations and neighborhoods and brought to camps in places like Afghanistan , where The terrorists' are trained in the tactics of terror .

correct (y) / incorrect (n) y

-----
their => [terrorists]
They are recruited from their own nations and neighborhoods and brought to camps in places like Afghanistan, where they are trained in the tactics of terror.
The terrorists' are recruited from The terrorists' own nations and neighborhoods and brought to camps in places like Afghanistan , where The terrorists' are trained in the tactics of terror .

correct (y) / incorrect (n) y

-----
they => [terrorists]
They are recruited from their own nations and neighborhoods and brought to camps in places like Afghanistan, where they are trained in the tactics of terror.
The terrorists' are recruited from The terrorists' own nations and neighborhoods and brought to camps in places like Afghanistan , where The terrorists' are trained in the tactics of terror .

correct (y) / incorrect (n) y

-----
They => [terrorists]
They are sent back to their homes or sent to hide in countries around the world to plot evil and destruction.
The terrorists' are sent back to The terrorists' homes or sent to hide in countries around the world to plot evil and destruction .

correct (y) / incorrect (n) y

-----
their => [terrorists]
They are sent back to their homes or sent to hide in countries around the world to plot evil and destruction.
The terrorists' are sent back to The terrorists' homes or sent to hide in countries around the world to plot evil and destruction .

correct (y) / incorrect (n) y

-----
Afghanistan => [Afghanistan]

The leadership of al Qaeda has great influence in Afghanistan and supports the Taliban regime in controlling most of that country.

 The leadership of al Qaeda has great influence in Afghanistan, where they are trained in the tactics of terror and supports the Taliban regime in controlling most of that Afghanistan, where they are trained in the tactics of terror .

correct (y) / incorrect (n) y

-----
country => [Afghanistan]

The leadership of al Qaeda has great influence in Afghanistan and supports the Taliban regime in controlling most of that country.

 The leadership of al Qaeda has great influence in Afghanistan, where they are trained in the tactics of terror and supports the Taliban regime in controlling most of that Afghanistan, where they are trained in the tactics of terror .

correct (y) / incorrect (n) y

-----
Afghanistan => [Afghanistan]
In Afghanistan, we see al Qaeda's vision for the world.
In Afghanistan, where they are trained in the tactics of terror , we see al Qaeda's vision for the the world .

correct (y) / incorrect (n) y

-----
world => [world]
In Afghanistan, we see al Qaeda's vision for the world.
In Afghanistan, where they are trained in the tactics of terror , we see al Qaeda's vision for the the world .

correct (y) / incorrect (n) y

-----
Afghanistan => [Afghanistan]
Afghanistan's people have been brutalized; many are starving and many have fled.
Afghanistan, where they are trained in the tactics of terror 's people have been brutalized ; many are starving and many have fled .

correct (y) / incorrect (n) y

-----
their => [Women]
Religion can be practiced only as their leaders dictate.
Religion can be practiced only as Women leaders dictate .

correct (y) / incorrect (n) n

-----
his => [man]
A man can be jailed in Afghanistan if his beard is not long enough.
A man can be jailed in Afghanistan if A man beard is not long enough .

correct (y) / incorrect (n) y

-----
Afghanistan => [Afghanistan]

The United States respects the people of Afghanistan.

 The United States respects the people of Afghanistan .

correct (y) / incorrect (n) y

-----
its => [The United States]
After all, we are currently its largest source of humanitarian aid; but we condemn the Taliban regime.
After all , we are currently The United States largest source of humanitarian aid ; but we condemn the Taliban regime .

correct (y) / incorrect (n) n

-----
It => [The United States]
It is not only repressing its own people, it is threatening people everywhere by sponsoring and sheltering and supplying terrorists.
The United States is not only repressing The United States own people , The United States is threatening people everywhere by sponsoring and sheltering and supplying terrorists .

correct (y) / incorrect (n) n

-----
its => [The United States]
It is not only repressing its own people, it is threatening people everywhere by sponsoring and sheltering and supplying terrorists.
The United States is not only repressing The United States own people , The United States is threatening people everywhere by sponsoring and sheltering and supplying terrorists .

correct (y) / incorrect (n) n

-----
it => [The United States]
It is not only repressing its own people, it is threatening people everywhere by sponsoring and sheltering and supplying terrorists.
The United States is not only repressing The United States own people , The United States is threatening people everywhere by sponsoring and sheltering and supplying terrorists .

correct (y) / incorrect (n) n

-----
their => [camp, hand, person, authorities]
Close immediately and permanently every terrorist training camp in Afghanistan, and hand over every terrorist, and every person in their support structure, to appropriate authorities.
Close immediately and permanently every terrorist training camp in Afghanistan , and hand over every terrorist , and every person in to appropriate authorities support structure , to appropriate authorities .

correct (y) / incorrect (n) n

-----
they => [camps]
Give the United States full access to terrorist training camps, so we can make sure they are no longer operating.
Give the United States full access to terrorist training camps , so we can make sure terrorist training camps are no longer operating .

correct (y) / incorrect (n) y

-----
They => [demands]
They will hand over the terrorists, or they will share in their fate.
These demands will hand over the terrorists , or These demands will share in These demands fate .

correct (y) / incorrect (n) n

-----
they => [demands]
They will hand over the terrorists, or they will share in their fate.
These demands will hand over the terrorists , or These demands will share in These demands fate .

correct (y) / incorrect (n) n

-----
their => [demands]
They will hand over the terrorists, or they will share in their fate.
These demands will hand over the terrorists , or These demands will share in These demands fate .

correct (y) / incorrect (n) n

-----
It => [faith]
It's practiced freely by many millions of Americans, and by millions more in countries that America counts as friends.
your faith 's practiced freely by many millions of Americans , and by millions more in countries that America counts as friends .

correct (y) / incorrect (n) y

-----
Its => [faith]
Its teachings are good and peaceful, and those who commit evil in the name of Allah blaspheme the name of Allah.
your faith teachings are good and peaceful , and those who commit evil in the name of Allah blaspheme the name of Allah .

correct (y) / incorrect (n) y

-----
Allah => [Allah]
Its teachings are good and peaceful, and those who commit evil in the name of Allah blaspheme the name of Allah.
your faith teachings are good and peaceful , and those who commit evil in the name of Allah blaspheme the name of Allah .

correct (y) / incorrect (n) y

-----
their => [terrorists]
The terrorists are traitors to their own faith, trying, in effect, to hijack Islam itself.
The terrorists are traitors to The terrorists own faith , trying , in effect , to hijack Islam their own faith .

correct (y) / incorrect (n) y

-----
itself => [faith]
The terrorists are traitors to their own faith, trying, in effect, to hijack Islam itself.
The terrorists are traitors to The terrorists own faith , trying , in effect , to hijack Islam their own faith .

correct (y) / incorrect (n) y

-----
them => [terrorists]
Our enemy is a radical network of terrorists, and every government that supports them.
Our enemy is a radical network of terrorists , and every government that supports terrorists .

correct (y) / incorrect (n) y

-----
it => [war]
Our war on terror begins with al Qaeda, but it does not end there.
Our war on terror begins with al Qaeda , but Our war on terror does not end there .

correct (y) / incorrect (n) y

-----
It => [war]
It will not end until every terrorist group of global reach has been found, stopped, and defeated.
Our war on terror will not end until every terrorist group of global reach has been found , stopped , and defeated .

correct (y) / incorrect (n) y

-----
they => [Americans]

Americans are asking, why do they hate us?

 Americans are asking , why do Americans hate us ?

correct (y) / incorrect (n) n

-----
They => [Americans]
They hate what they see right here in this chamber -- a democratically elected government.
Americans hate what Americans see right here in this chamber -- a democratically elected government .

correct (y) / incorrect (n) n

-----
they => [Americans]
They hate what they see right here in this chamber -- a democratically elected government.
Americans hate what Americans see right here in this chamber -- a democratically elected government .

correct (y) / incorrect (n) n

-----
Their => [Americans]
Their leaders are self-appointed.
Americans leaders are self - appointed .

correct (y) / incorrect (n) n

-----
They => [Americans]
They hate our freedoms -- our freedom of religion, our freedom of speech, our freedom to vote and assemble and disagree with each other.
Americans hate our freedoms -- our freedom of religion , our freedom of speech , our freedom to vote and assemble and disagree with each other .

correct (y) / incorrect (n) n

-----
They => [Americans]
They want to overthrow existing governments in many Muslim countries, such as Egypt, Saudi Arabia, and Jordan.
Americans want to overthrow existing governments in many Muslim countries , such as Egypt , Saudi Arabia , and Jordan .

correct (y) / incorrect (n) n

-----
They => [Americans]
They want to drive Israel out of the Middle East.
Americans want to drive Israel out of the Middle East .

correct (y) / incorrect (n) n

-----
They => [Americans]
They want to drive Christians and Jews out of vast regions of Asia and Africa.
Americans want to drive Christians and Jews out of vast regions of Asia and Africa .

correct (y) / incorrect (n) n

-----
they => [terrorists]
With every atrocity, they hope that America grows fearful, retreating from the world and forsaking our friends.
With every atrocity , These terrorists hope that America grows fearful , retreating from the world and forsaking our friends .

correct (y) / incorrect (n) y

-----
They => [terrorists]
They stand against us, because we stand in their way.
These terrorists stand against us , because we stand in These terrorists way .

correct (y) / incorrect (n) y

-----
their => [terrorists]
They stand against us, because we stand in their way.
These terrorists stand against us , because we stand in These terrorists way .

correct (y) / incorrect (n) y

-----
their => [terrorists]

We are not deceived by their pretenses to piety.

 We are not deceived by These terrorists pretenses to piety .

correct (y) / incorrect (n) y

-----
their => [terrorists]
We have seen their kind before.
We have seen These terrorists kind before .

correct (y) / incorrect (n) y

-----
They => [terrorists]
They are the heirs of all the murderous ideologies of the 20th century.
These terrorists are the heirs of all the murderous ideologies of the 20th century .

correct (y) / incorrect (n) y

-----
their => [terrorists]
By sacrificing human life to serve their radical visions -- by abandoning every value except the will to power -- they follow in the path of fascism, Nazism, and totalitarianism.
By sacrificing human life to serve These terrorists radical visions -- by abandoning every value except the will to power -- These terrorists follow in the path of fascism , Nazism , and totalitarianism .

correct (y) / incorrect (n) y

-----
they => [terrorists]
By sacrificing human life to serve their radical visions -- by abandoning every value except the will to power -- they follow in the path of fascism, Nazism, and totalitarianism.
By sacrificing human life to serve These terrorists radical visions -- by abandoning every value except the will to power -- These terrorists follow in the path of fascism , Nazism , and totalitarianism .

correct (y) / incorrect (n) y

-----
they => [terrorists]
And they will follow that path all the way, to where it ends: in history's unmarked grave of discarded lies.
And These terrorists will follow that the path of fascism, Nazism, and totalitarianism all the way , to where the path of fascism, Nazism, and totalitarianism ends : in history 's unmarked grave of discarded lies .

correct (y) / incorrect (n) y

-----
path => [path]
And they will follow that path all the way, to where it ends: in history's unmarked grave of discarded lies.
And These terrorists will follow that the path of fascism, Nazism, and totalitarianism all the way , to where the path of fascism, Nazism, and totalitarianism ends : in history 's unmarked grave of discarded lies .

correct (y) / incorrect (n) y

-----
it => [path]
And they will follow that path all the way, to where it ends: in history's unmarked grave of discarded lies.
And These terrorists will follow that the path of fascism, Nazism, and totalitarianism all the way , to where the path of fascism, Nazism, and totalitarianism ends : in history 's unmarked grave of discarded lies .

correct (y) / incorrect (n) y

-----
war => [war]

Now this war will not be like the war against Iraq a decade ago, with a decisive liberation of territory and a swift conclusion.

 Now this this war will not be like the war against Iraq a decade ago , with a decisive liberation of territory and a swift conclusion .

correct (y) / incorrect (n) y

-----
It => [war]
It will not look like the air war above Kosovo two years ago, where no ground troops were used and not a single American was lost in combat.
this war will not look like the air war above Kosovo two years ago , where no ground troops were used and not a single American was lost in combat .

correct (y) / incorrect (n) y

-----
It => [campaign]
It may include dramatic strikes, visible on TV, and covert operations, secret even in success.
a lengthy campaign, may include dramatic strikes , visible on TV , and covert operations , secret even in success .

correct (y) / incorrect (n) y

-----
them => [terrorists]
We will starve terrorists of funding, turn them one against another, drive them from place to place, until there is no refuge or no rest.
We will starve terrorists of funding , turn terrorists of funding one against another , drive terrorists of funding from place to place , until there is no refuge or no rest .

correct (y) / incorrect (n) n

-----
them => [terrorists]
We will starve terrorists of funding, turn them one against another, drive them from place to place, until there is no refuge or no rest.
We will starve terrorists of funding , turn terrorists of funding one against another , drive terrorists of funding from place to place , until there is no refuge or no rest .

correct (y) / incorrect (n) n

-----
He => [veteran]
He will lead, oversee, and coordinate a comprehensive national strategy to safeguard our country against terrorism, and respond to any attacks that may come.
a military veteran, an effective governor, a true patriot, a trusted friend -- Pennsylvania's Tom Ridge will lead , oversee , and coordinate a comprehensive national strategy to safeguard our country against terrorism , and respond to any attacks that may come .

correct (y) / incorrect (n) y

-----
it => [terrorism]
But the only way to defeat terrorism as a threat to our way of life is to stop it, eliminate it, and destroy it where it grows.
But the only way to defeat terrorism as a threat to our way of life is to stop terrorism , eliminate terrorism , and destroy terrorism where terrorism grows .

correct (y) / incorrect (n) y

-----
it => [terrorism]
But the only way to defeat terrorism as a threat to our way of life is to stop it, eliminate it, and destroy it where it grows.
But the only way to defeat terrorism as a threat to our way of life is to stop terrorism , eliminate terrorism , and destroy terrorism where terrorism grows .

correct (y) / incorrect (n) y

-----
it => [terrorism]
But the only way to defeat terrorism as a threat to our way of life is to stop it, eliminate it, and destroy it where it grows.
But the only way to defeat terrorism as a threat to our way of life is to stop terrorism , eliminate terrorism , and destroy terrorism where terrorism grows .

correct (y) / incorrect (n) y

-----
it => [terrorism]
But the only way to defeat terrorism as a threat to our way of life is to stop it, eliminate it, and destroy it where it grows.
But the only way to defeat terrorism as a threat to our way of life is to stop terrorism , eliminate terrorism , and destroy terrorism where terrorism grows .

correct (y) / incorrect (n) y

-----
America => [America]
This is not, however, just America's fight.
This is not , however , just America 's fight .

correct (y) / incorrect (n) y

-----
America => [America]
And what is at stake is not just America's freedom.
And what is at stake is not just America 's freedom .

correct (y) / incorrect (n) y

-----
world => [world]
Perhaps the NATO Charter reflects best the attitude of the world: An attack on one is an attack on all.
Perhaps the NATO Charter reflects best the attitude of the the Islamic world : An attack on one is an attack on all .

correct (y) / incorrect (n) n

-----
America => [Latin America]
The civilized world is rallying to America's side.
The civilized world is rallying to Latin America 's side .

correct (y) / incorrect (n) n

-----
They => [all]
They understand that if this terror goes unpunished, their own cities, their own citizens may be next.
all understand that if this terror goes unpunished , all own cities , all own citizens may be next .

correct (y) / incorrect (n) y

-----
their => [all]
They understand that if this terror goes unpunished, their own cities, their own citizens may be next.
all understand that if this terror goes unpunished , all own cities , all own citizens may be next .

correct (y) / incorrect (n) y

-----
their => [all]
They understand that if this terror goes unpunished, their own cities, their own citizens may be next.
all understand that if this terror goes unpunished , all own cities , all own citizens may be next .

correct (y) / incorrect (n) y

-----
it => [Terror]
Terror, unanswered, can not only bring down buildings, it can threaten the stability of legitimate governments.
Terror , unanswered , can not only bring down buildings , Terror can threaten the stability of legitimate governments .

correct (y) / incorrect (n) y

-----
it => [Terror]
We're not going to allow it.
We 're not going to allow Terror .

correct (y) / incorrect (n) y

-----
them => [principles]
We are in a fight for our principles, and our first responsibility is to live by them.
We are in a fight for our principles , and our first responsibility is to live by our principles .

correct (y) / incorrect (n) y

-----
their => [principles]
No one should be singled out for unfair treatment or unkind words because of their ethnic background or religious faith.
No one should be singled out for unfair treatment or unkind words because of our principles ethnic background or religious faith .

correct (y) / incorrect (n) n

-----
it => [cooperation]

The thousands of FBI agents who are now at work in this investigation may need your cooperation, and I ask you to give it.

 The thousands of FBI agents who are now at work in this investigation may need your cooperation , and I ask you to give your cooperation .

correct (y) / incorrect (n) y

-----
They => [Terrorists]
They did not touch its source.
Terrorists did not touch American prosperity source .

correct (y) / incorrect (n) y

-----
its => [prosperity]
They did not touch its source.
Terrorists did not touch American prosperity source .

correct (y) / incorrect (n) y

-----
they => [These]
These were the true strengths of our economy before September 11th, and they are our strengths today.
These were the true strengths of our economy before September 11th , and These are our strengths today .

correct (y) / incorrect (n) y

-----
their => [These]
And, finally, please continue praying for the victims of terror and their families, for those in uniform, and for our great country.
And , finally , please continue praying for the victims of terror and These families , for those in uniform , and for our great country .

correct (y) / incorrect (n) y

-----
their => [Americans]
And ladies and gentlemen of the Congress, I thank you, their representatives, for what you have already done and for what we will do together.
And ladies and gentlemen of the Congress , I thank you , my fellow Americans representatives , for what you have already done and for what we will do together .

correct (y) / incorrect (n) y

-----
it => [enforcement]
We will come together to give law enforcement the additional tools it needs to track down terror here at home.
We will come together to give law enforcement the additional tools law enforcement needs to track down terror here at home .

correct (y) / incorrect (n) y

-----
they => [plans]
We will come together to strengthen our intelligence capabilities to know the plans of terrorists before they act, and to find them before they strike.
We will come together to strengthen our intelligence capabilities to know the plans of terrorists before the plans of terrorists act , and to find the plans of terrorists before the plans of terrorists strike .

correct (y) / incorrect (n) n

-----
them => [plans]
We will come together to strengthen our intelligence capabilities to know the plans of terrorists before they act, and to find them before they strike.
We will come together to strengthen our intelligence capabilities to know the plans of terrorists before the plans of terrorists act , and to find the plans of terrorists before the plans of terrorists strike .

correct (y) / incorrect (n) n

-----
they => [plans]
We will come together to strengthen our intelligence capabilities to know the plans of terrorists before they act, and to find them before they strike.
We will come together to strengthen our intelligence capabilities to know the plans of terrorists before the plans of terrorists act , and to find the plans of terrorists before the plans of terrorists strike .

correct (y) / incorrect (n) n

-----
America => [America]
As a symbol of America's resolve, my administration will work with Congress, and these two leaders, to show the world that we will rebuild New York City.
As a symbol of America's 's resolve , my administration will work with Congress , and these two leaders , to show the world that we will rebuild New York City .

correct (y) / incorrect (n) y

-----
them => [lives]

After all that has just passed -- all the lives taken, and all the possibilities and hopes that died with them -- it is natural to wonder if America's future is one of fear.

 After all that has just passed -- all the lives taken , and all the possibilities and hopes that died with all the lives -- it is natural to wonder if America's 's future is one of fear .

correct (y) / incorrect (n) y

-----
America => [America]

After all that has just passed -- all the lives taken, and all the possibilities and hopes that died with them -- it is natural to wonder if America's future is one of fear.

 After all that has just passed -- all the lives taken , and all the possibilities and hopes that died with all the lives -- it is natural to wonder if America's 's future is one of fear .

correct (y) / incorrect (n) y

-----
them => [times]
But this country will define our times, not be defined by them.
But this country will define our times , not be defined by our times .

correct (y) / incorrect (n) y

-----
It => [world]

It is my hope that in the months and years ahead, life will return almost to normal.

 the world is my hope that in the months and years ahead , life will return almost to normal .

correct (y) / incorrect (n) n

-----
it => [Each]
Each of us will remember what happened that day, and to whom it happened.
Each of us will remember what happened that day , and to whom Each of us happened .

correct (y) / incorrect (n) y

-----
It => [man]
It was given to me by his mom, Arlene, as a proud memorial to her son.
a man named George Howard, who died at the World Trade Center trying to save others was given to me by George Howard, who died at the World Trade Center trying to save others mom , Arlene , as a proud memorial to Arlene son .

correct (y) / incorrect (n) n

-----
his => [George Howard]
It was given to me by his mom, Arlene, as a proud memorial to her son.
a man named George Howard, who died at the World Trade Center trying to save others was given to me by George Howard, who died at the World Trade Center trying to save others mom , Arlene , as a proud memorial to Arlene son .

correct (y) / incorrect (n) y

-----
her => [Arlene]
It was given to me by his mom, Arlene, as a proud memorial to her son.
a man named George Howard, who died at the World Trade Center trying to save others was given to me by George Howard, who died at the World Trade Center trying to save others mom , Arlene , as a proud memorial to Arlene son .

correct (y) / incorrect (n) y

-----
it => [country]
I will not forget this wound to our country or those who inflicted it.
I will not forget this wound to our country or those who inflicted our country .

correct (y) / incorrect (n) n

-----
its => [course]
The course of this conflict is not known, yet its outcome is certain.
The course of this conflict is not known , yet The course of this conflict outcome is certain .

correct (y) / incorrect (n) y

-----
them => [Freedom, fear, justice, cruelty]
Freedom and fear, justice and cruelty, have always been at war, and we know that God is not neutral between them.
Freedom and fear , justice and cruelty , have always been at war , and we know that God is not neutral between cruelty .

correct (y) / incorrect (n) y

-----
God => [God]
In all that lies before us, may God grant us wisdom, and may He watch over the United States of America.
In all that lies before us , may God grant us wisdom , and may patient justice watch over the United States of America .

correct (y) / incorrect (n) n

-----
He => [justice]
In all that lies before us, may God grant us wisdom, and may He watch over the United States of America.
In all that lies before us , may God grant us wisdom , and may patient justice watch over the United States of America .

correct (y) / incorrect (n) n

-----

In [56]:
print(f"accuracy: {accuracy}")
print(f"correct: {correct}")
print(f"incorrect: {incorrect}")

accuracy: 63.02521008403361
correct: 75
incorrect: 44

## Testing AllenNLP Coreference

more details at these links
- https://neurosys.com/blog/effective-coreference-resolution-model
- https://github.com/NeuroSYS-pl/coreference-resolution
- https://github.com/ananyagup/AllenNLP-Coreference-Resolution-in-Python-Readable-clusters/blob/master/allennlp_coref.py

from allennlp.predictors.predictor import Predictor
allen_url = 'https://storage.googleapis.com/allennlp-public-models/coref-spanbert-large-2020.02.27.tar.gz'
predictor = Predictor.from_path(allen_url)

In [7]:
%%time
import spacy
nlp = spacy.load("en_core_web_md")
nlp.add_pipe("merge_entities")
doc = nlp(test)

/Users/stephenanningcorp/.local/lib/python3.8/site-packages/spacy/util.py:865: UserWarning: [W095] Model 'en_core_web_md' (3.1.0) was trained with spaCy v3.1 and may not be 100% compatible with the current version (3.4.1). If you see errors or degraded performance, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

NameError: name 'test' is not defined

In [ ]:
%%time
from utils import predictor

predictor = predictor()
print(predictor.coref_resolved(text))

In [ ]:
from allennlp_models.pretrained import load_predictor
predictor = load_predictor("coref-spanbert")

In [9]:
print(predictor.coref_resolved(text))

Mr. Speaker, Mr. President Pro Tempore, members of Congress, and fellow Americans:
In the normal course of events, Presidents come to this chamber to report on the state of the Union. Tonight, no such report is needed. It has already been delivered by the American people.
We have seen it in the courage of passengers, who rushed terrorists to save others on the ground -- passengers like an exceptional man named Todd Beamer. And would Mr. Speaker, Mr. President Pro Tempore, members of Congress, and fellow Americans please help me to welcome an exceptional man named Todd Beamer's wife, Lisa Beamer, here Tonight. We have seen the state of the Union the Union in the endurance of rescuers, working past exhaustion. We've seen the unfurling of flags, the lighting of candles, the giving of blood, the saying of prayers -- in English, Hebrew, and Arabic. We have seen the decency of a loving and giving people who have made the grief of strangers strangers's own. me's , for the last nine days, the entire world has seen for the entire world the state of the Union the Union -- and the state of the Union is strong.
Tonight the Union are a country awakened to danger and called to defend freedom. the Union's grief has turned to anger, and anger to resolution. Whether the Union bring the Union's enemies to justice, or bring justice to the Union's enemies, justice will be done. me thank Congress for Congress's leadership at such an important time. the Union was touched on the evening of the tragedy to see Republicans and Democrats joined together on the steps of this Capitol, singing "God Bless the Union." And Republicans and Democrats did more than sing; Republicans and Democrats acted, by delivering 40 billion dollars to rebuild the Union's communities and meet the needs of the Union's military. Mr. Speaker, Minority Leader Gephardt, Majority Leader Daschle, and Senator Lott, me thank Speaker Hastert, Minority Leader Gephardt, Majority Leader Daschle, and Senator Lott for Speaker Hastert, Minority Leader Gephardt, Majority Leader Daschle, and Senator Lott's friendship, for Speaker Hastert, Minority Leader Gephardt, Majority Leader Daschle, and Senator Lott's leadership, and for Speaker Hastert, Minority Leader Gephardt, Majority Leader Daschle, and Senator Lott's service to the Union. And on behalf of the American people, me thank the entire world for the entire world's outpouring of support. the Union will never forget the sounds of the Union's National Anthem playing at Buckingham Palace, on the streets of Paris, and at Berlin's Brandenburg Gate.
the Union will not forget South Korean children gathering to pray outside the Union's embassy in Seoul, or the prayers of sympathy offered at a mosque in Cairo. the Union will not forget moments of silence and days of mourning in Australia and Africa and Latin the Union. Nor will the Union forget the citizens of 80 other nations who died with the Union's own: dozens of Pakistanis; more than 130 Israelis; more than 250 citizens of India; men and women from El Salvador, Iran, Mexico, and Japan; and hundreds of British citizens. the Union has no truer friend than Latin America. Once again, we are joined together in a great cause -- so honored the British Prime Minister has crossed an ocean to show the British Prime Minister's unity with the Union. Thank the British Prime Minister for coming, the British Prime Minister.
On September the 11th, enemies of freedom committed an act of war against the Union. Americans have known wars -- but for the past 136 years, wars have been wars on foreign soil, except for one Sunday in 1941. Americans have known the casualties of war -- but not at the center of a great city on a peaceful morning. Americans have known surprise attacks -- but never before on thousands of civilians. All of this was brought upon Americans in a single day -- and night fell on a different world, a world where freedom freedom itself is under attack. Americans have many questions Tonight. Americans are asking: Who attacked Americans's ? The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda. a collection of loosely affiliated terrorist organizations known as al Qaeda are some of the murderers indicted for bombing American embassies in Tanzania and Kenya, and responsible for bombing the USS Cole. a collection of loosely affiliated terrorist organizations known as al Qaeda is to terror what the mafia is to crime. But a collection of loosely affiliated terrorist organizations known as al Qaeda's goal is not making money; a collection of loosely affiliated terrorist organizations known as al Qaeda's goal is remaking the world -- and imposing a collection of loosely affiliated terrorist organizations known as al Qaeda's radical beliefs on people everywhere.
a collection of loosely affiliated terrorist organizations known as al Qaeda practice a fringe form of Islamic extremism that has been rejected by Muslim scholars and the vast majority of Muslim clerics, a collection of loosely affiliated terrorist organizations known as al Qaeda. a collection of loosely affiliated terrorist organizations known as al Qaeda's directive commands a collection of loosely affiliated terrorist organizations known as al Qaeda to kill Christians and Jews, to kill all Americans, and make no distinctions among military and civilians, including women and children. a collection of loosely affiliated terrorist organizations known as al Qaeda and a collection of loosely affiliated terrorist organizations known as al Qaeda's leader -- a person named Usama bin Laden -- are linked to many other organizations in different countries, including the Egyptian Islamic Jihad and the Islamic Movement of Uzbekistan. There are thousands of a collection of loosely affiliated terrorist organizations known as al Qaeda in more than 60 countries. a collection of loosely affiliated terrorist organizations known as al Qaeda are recruited from a collection of loosely affiliated terrorist organizations known as al Qaeda's own nations and neighborhoods and brought to camps in places like Afghanistan, where a collection of loosely affiliated terrorist organizations known as al Qaeda are trained in the tactics of terror. a collection of loosely affiliated terrorist organizations known as al Qaeda are sent back to a collection of loosely affiliated terrorist organizations known as al Qaeda's homes or sent to hide in countries around the world to plot evil and destruction.
The leadership of a collection of loosely affiliated terrorist organizations known as al Qaeda has great influence in Afghanistan and supports the Taliban regime in controlling most of Afghanistan. In Afghanistan, we see a collection of loosely affiliated terrorist organizations known as al Qaeda's vision for the world. Afghanistan's people have been brutalized; many are starving and many have fled. Women are not allowed to attend school. You can be jailed for owning a television. Religion can be practiced only as Afghanistan's leaders dictate. A man can be jailed in Afghanistan if A man's beard is not long enough.
the Union respects Afghanistan's people. After all, the Union are currently Afghanistan's largest source of humanitarian aid; but the Union condemn the Taliban regime. the Taliban regime is not only repressing the Taliban regime's , the Taliban regime is threatening people everywhere by sponsoring and sheltering and supplying terrorists. By aiding and abetting murder, the Taliban regime is committing murder.
And Tonight, the Union makes the following demands on the Taliban regime: Deliver to the Union authorities all the leaders of a collection of loosely affiliated terrorist organizations known as al Qaeda who hide in your land. Release all foreign nationals, including American citizens, your have unjustly imprisoned. Protect foreign journalists, diplomats, and aid workers in your's . Close immediately and permanently every terrorist training camp in Afghanistan, and hand over every terrorist, and every person in their support structure, to appropriate authorities. Give the Union full access to terrorist training camps, so the Union can make sure terrorist training camps are no longer operating. the following demands on the Taliban are not open to negotiation or discussion. the Taliban regime must act, and act immediately. the Taliban regime will hand over their, or the Taliban regime will share in their's fate.
me also want to speak Tonight directly to Muslims throughout the world. the Union respect Muslims throughout the world's faith. your faith's practiced freely by many millions of Americans, and by millions more in countries that the Union counts as friends. your faith's teachings are good and peaceful, and those who commit evil in the name of Allah blaspheme the name of AllahAllah. The terrorists are traitors to The terrorists's own faith, trying, in effect, to hijack Islam Islam itself. The enemy of the Union is not the Union's many Muslim friends; The enemy of America is not the Union's many Arab friends. The enemy of America is a radical network of terrorists, and every government that supports terrorists. the Union's war on terror begins with a collection of loosely affiliated terrorist organizations known as al Qaeda, but Our war on terror does not end there. Our war on terror will not end until every terrorist group of global reach has been found, stopped, and defeated.
Americans are asking, why do terrorists hate Americans? terrorists hate what terrorists see right here in this chamber. terrorists's leaders are self-appointed. terrorists hate Americans's freedoms -- Americans's freedom of religion, Americans's freedom of speech, Americans's freedom to vote and assemble and disagree with each other. terrorists want to overthrow existing governments in many Muslim countries, such as Egypt, Saudi Arabia, and Jordan. terrorists want to drive Israel out of the Middle East. terrorists want to drive Christians and Jews out of vast regions of Asia and Africa. terrorists kill not merely to end lives, but to disrupt and end a way of life. With every atrocity, terrorists hope that the Union grows fearful, retreating from the world and forsaking our many Muslim friends. terrorists stand against the Union, because the Union stand in terrorists's way.
the Union are not deceived by terrorists's pretenses to piety. the Union have seen terrorists's kind before. terrorists are the heirs of all the murderous ideologies of the 20th century. By sacrificing human life to serve terrorists's radical visions -- by abandoning every value except the will to power -- terrorists follow in the path of fascism, Nazism, and totalitarianism. And terrorists will follow the path of fascism, Nazism, and totalitarianism all the way, to where the path of fascism, Nazism, and totalitarianism ends: in history's unmarked grave of discarded lies. Americans are asking: How will the Union fight and win Our war on terror? the Union will direct every resource at the Union's command -- every means of diplomacy, every tool of intelligence, every instrument of law enforcement, every financial influence, and every necessary weapon of war -- to the disruption and to the defeat of terrorists.
Now Our war on terror will not be like the war against Iraq a decade ago, with a decisive liberation of territory and a swift conclusion. Our war on terror will not look like the air war above Kosovo two years ago, where no ground troops were used and not a single American was lost in combat. the Union's response involves far more than instant retaliation and isolated strikes. Americans should not expect one battle, but a lengthy campaign, unlike any other Americans have ever seen. Our war on terror may include dramatic strikes, visible on TV, and covert operations, secret even in success. the Union will starve terrorists of funding, turn terrorists one against another, drive terrorists from place to place, until there is no refuge or no rest. And the Union will pursue nations that provide aid or safe haven to terrorism. Every nation, in every region, now has a decision to make. Either you are with the Union, or you are with the terrorists. From this day forward, any nation that continues to harbor or support terrorism will be regarded by the Union as a hostile regime.
the Union has been put on notice: the Union're not immune from attack. the Union will take defensive measures against terrorism to protect Americans. this day, dozens of federal departments and agencies, as well as state and local governments, have responsibilities affecting homeland security. responsibilities affecting homeland security must be coordinated at the highest level. So Tonight, me announce the creation of a Cabinet-level position reporting directly to me -- the Office of Homeland Security. And Tonight me also announce a distinguished American to lead this effort, to strengthen American security: a military veteran, an effective governor, a true patriot, a trusted friend -- Pennsylvania's Tom Ridge. a distinguished American to lead this effort, to strengthen American security will lead, oversee, and coordinate a comprehensive national strategy to safeguard the Union against terrorism, and respond to any attacks that may come.
These measures are essential. But the only way to defeat terrorism as a threat to Americans's way of life is to stop terrorism, eliminate terrorism, and destroy terrorism where terrorism grows. Many will be involved in this effort, to strengthen American security, from FBI agents to intelligence operatives to the reservists Americans have called to active duty. All deserve our thanks, and all have our's prayers. And Tonight, a few miles from the damaged Pentagon, me have a message for the Union's military: Be ready. me've called our military to alert, and there is a reason. The hour is coming when the Union will act, and our military will make the Union proud. Our war on terror is not, however, just the Union's fight. And what is at stake is not just America's freedom. Our war on terror is the world's fight. Our war on terror is civilization's fight. Our war on terror is the fight of all who believe in progress and pluralism, tolerance and freedom.
the Union ask every nation to join the Union. the Union will ask, and the Union will need, the help of police forces, intelligence services, and banking systems around the world. the Union is grateful that many nations and many international organizations have already responded -- with sympathy and with support. Nations from Latin, to Asia, to Africa, to Europe, to the Islamic world. Perhaps the NATO Charter reflects best the attitude of the world: An attack on one is an attack on all. The civilized world is rallying to the Union's side. The civilized world understand that if this terror goes unpunished, The civilized world's own cities, The civilized world's own citizens may be next. Terror, unanswered, can not only bring down buildings, Terror can threaten the stability of legitimate governments. And you know what? the Union're not going to allow Terror.
Americans are asking: What is expected of Americans? me ask you to live you's lives, and hug you's children. me know many citizens have fears Tonight, and me ask you to be calm and resolute, even in the face of a continuing threat. me ask you to uphold the values of the Union, and remember why so many have come here. We are in a fight for We's principles, and We's first responsibility is to live by our principles. No one should be singled out for unfair treatment or unkind words because of their ethnic background or religious faith. me ask you to continue to support the victims of the tragedy with you's contributions. Those who want to give can go to a central source of information, libertyunites.org, to find the names of groups providing direct help in New York, Pennsylvania's, and Virginia.
The thousands of FBI agents who are now at work in this investigation may need you's cooperation, and me ask you to give your cooperation. me ask for you's patience, with the delays and inconveniences that may accompany tighter security; and for you's patience in what will be a long struggle. me ask you's continued participation and confidence in the American economy. Terrorists attacked a symbol of American prosperity. Terrorists did not touch a symbol of American prosperity's source. the Union is successful because of the hard work, and creativity, and enterprise of the Union's people. the hard work, and creativity, and enterprise of our people were the true strengths of the American economy before September 11th, and the hard work, and creativity, and enterprise of our people are the Union's strengths this day. And, finally, please continue praying for the victims of terror and the victims of terror's families, for those in uniform, and for the Union. Prayer has comforted our in sorrow, and will help strengthen our for the journey ahead.
Tonight me thank me's fellow Americans for what my fellow Americans have already done and for what my fellow Americans will do. And ladies and gentlemen of Congress, me thank you, ladies and gentlemen of the Congress's representatives, for what ladies and gentlemen of the Congress have already done and for what the Union will do together. Tonight, the Union face new and sudden national challenges. the Union will come together to improve air safety, to dramatically expand the number of air marshals on domestic flights, and take new measures to prevent hijacking. the Union will come together to promote stability and keep the Union's airlines flying, with direct assistance during this emergency. the Union will come together to give law enforcement the additional tools law enforcement needs to track down terror here at home. the Union will come together to strengthen the Union's intelligence capabilities to know the plans of terrorists before terrorists act, and to find terrorists before terrorists strike.
the Union will come together to take active steps that strengthen the Union's economy, and put the Union's people back to work. Tonight the Union welcome two leaders who embody the extraordinary spirit of all New Yorkers: Governor George Pataki, and Mayor Rudolph Giuliani. As a symbol of the Union's resolve, me's administration will work with Congress, and two leaders who embody the extraordinary spirit of all New Yorkers: Governor George Pataki, and Mayor Rudolph Giuliani, to show the world's that the Union will rebuild New York.
After all that has just passed -- all the lives taken, and all the possibilities and hopes that died with all the lives taken -- it is natural to wonder if the Union's future is one of fear.  Some speak of an age of terror. me know there are struggles ahead, and dangers to face. But the Union will define Americans's times, not be defined by our times. As long as the Union is determined and strong, this will not be an age of terror; this will be an age of liberty, here and across the world.
Great harm has been done to Americans. Americans have suffered great loss. And in Americans's grief and anger Americans have found Americans's mission and Americans's moment. Freedom and fear are at war.  The advance of human freedom -- the great achievement of Americans's time, and the great hope of every time -- now depends on Americans. the Union, this generation will lift a dark threat of violence from Americans's people and Americans's future. Americans will rally the world to this cause by Americans's efforts, by Americans's courage. Americans will not tire, Americans will not falter, and Americans will not fail.

In [3]:
%%time

import spacy
import neuralcoref
from spacy.pipeline import merge_entities
import datetime

nlp = spacy.load('en_core_web_sm')  # load the model
nlp.add_pipe(merge_entities)

coref = neuralcoref.NeuralCoref(nlp.vocab)
nlp.add_pipe(coref, name='neuralcoref', last=True)

# print(f'completed at: {datetime.datetime.now().strftime("%b %d %Y %H:%M:%S")}')

CPU times: user 436 ms, sys: 69.6 ms, total: 505 ms
Wall time: 537 ms

In [4]:
doc = nlp(text)

In [17]:
print(doc._.coref_clusters[0].mentions)
print(doc._.coref_clusters[0].mentions[-1])
print(doc._.coref_clusters[0].mentions[-1]._.coref_cluster.main)

[the state of the Union, the state of our Union, the state of our Union]
the state of our Union
the state of the Union

In [17]:
for sent in doc.sents:
    
    strings = []
    
    test = {token._.in_coref for token in sent}
    if test == {False}:
        continue
        
    print(f"Original: {sent}")
    
    for token in sent:
        
        if token._.in_coref:
            strings.append(str(token._.coref_clusters[-1].main).strip())
        else:
            strings.append(str(token).strip())
            
    print(f"Coreferenced: {' '.join(strings)}")
    print("-----")

Original: In the normal course of events, Presidents come to this chamber to report on the state of the Union.
Coreferenced: In the normal course of events , Presidents come to this chamber to report on the state of the Union the state of the Union the state of the Union the Union the Union .
-----
Original: Tonight, no such report is needed.
Coreferenced: Tonight , no such report no such report no such report is needed .
-----
Original: It has already been delivered by the American people.

Coreferenced: no such report has already been delivered by the American people .
-----
Original: We have seen it in the courage of passengers, who rushed terrorists to save others on the ground -- passengers like an exceptional man named Todd Beamer.
Coreferenced: We have seen no such report in the courage of passengers , who rushed terrorists to save others on the ground -- passengers like an exceptional man named Todd Beamer an exceptional man named Todd Beamer an exceptional man named Todd Beamer an exceptional man named Todd Beamer an exceptional man named Todd Beamer .
-----
Original: And would you please help me to welcome his wife, Lisa Beamer, here tonight.
Coreferenced: And would you please help me to welcome an exceptional man named Todd Beamer wife , Lisa Beamer , here tonight .
-----
Original: We have seen the state of our Union in the endurance of rescuers, working past exhaustion.
Coreferenced: We have seen the state of the Union the state of the Union the state of the Union We the Union in the endurance of rescuers , working past exhaustion .
-----
Original: We've seen the unfurling of flags, the lighting of candles, the giving of blood, the saying of prayers -- in English, Hebrew, and Arabic.
Coreferenced: We 've seen the unfurling of flags , the lighting of candles , the giving of blood , the saying of prayers -- in English , Hebrew , and Arabic .
-----
Original: We have seen the decency of a loving and giving people who have made the grief of strangers their own.
Coreferenced: We have seen the decency of a loving and giving people who have made the grief of strangers the grief of strangers the grief of strangers the grief of strangers the grief of strangers own .
-----
Original: My fellow citizens, for the last nine days, the entire world has seen for itself the state of our Union -- and it is strong.

Coreferenced: My fellow citizens , for the last nine days , the entire world the entire world the entire world has seen for the entire world the state of the Union the state of the Union the state of the Union the Union the Union -- and the entire world is strong .
-----
Original: Tonight we are a country awakened to danger and called to defend freedom.
Coreferenced: Tonight we are a country awakened to danger and called to defend freedom .
-----
Original: Our grief has turned to anger, and anger to resolution.
Coreferenced: we grief has turned to anger , and anger to resolution .
-----
Original: Whether we bring our enemies to justice, or bring justice to our enemies, justice will be done.
Coreferenced: Whether we bring our enemies our enemies to justice , or bring justice to our enemies our enemies , justice will be done .
-----
Original: I thank the Congress for its leadership at such an important time.
Coreferenced: I thank the Congress the Congress for the Congress leadership at such an important time .
-----
Original: All of America was touched on the evening of the tragedy to see Republicans and Democrats joined together on the steps of this Capitol, singing "God Bless America."
Coreferenced: All of America was touched on the evening of the tragedy to see Republicans and Democrats joined together on the steps of this Capitol , singing " God Bless America . "
-----
Original: And you did more than sing; you acted, by delivering 40 billion dollars to rebuild our communities and meet the needs of our military.
Coreferenced: And you did more than sing ; you acted , by delivering 40 billion dollars to rebuild our communities and meet the needs of our military .
-----
Original: And on behalf of the American people, I thank the world for its outpouring of support.
Coreferenced: And on behalf of the American people , I thank the world the world for the world outpouring of support .
-----
Original: America will never forget the sounds of our National Anthem playing at Buckingham Palace, on the streets of Paris, and at Berlin's Brandenburg Gate.

Coreferenced: America will never forget the sounds of America National Anthem playing at Buckingham Palace , on the streets of Paris , and at Berlin 's Brandenburg Gate .
-----
Original: We will not forget South Korean children gathering to pray outside our embassy in Seoul, or the prayers of sympathy offered at a mosque in Cairo.
Coreferenced: America will not forget South Korean children gathering to pray outside America embassy in Seoul , or the prayers of sympathy offered at a mosque in Cairo .
-----
Original: We will not forget moments of silence and days of mourning in Australia and Africa and Latin America.
Coreferenced: America will not forget moments of silence and days of mourning in Australia and Africa and Latin America .
-----
Original: Nor will we forget the citizens of 80 other nations who died with our own: dozens of Pakistanis; more than 130 Israelis; more than 250 citizens of India; men and women from El Salvador, Iran, Mexico, and Japan; and hundreds of British citizens.
Coreferenced: Nor will America forget the citizens of 80 other nations who died with America own : dozens of Pakistanis ; more than 130 Israelis ; more than 250 citizens of India ; men and women from El Salvador , Iran , Mexico , and Japan ; and hundreds of British citizens .
-----
Original: America has no truer friend than Great Britain.
Coreferenced: America has no truer friend than Great Britain .
-----
Original: Once again, we are joined together in a great cause -- so honored the British Prime Minister has crossed an ocean to show his unity with America.
Coreferenced: Once again , America are joined together in a great cause -- so honored the British Prime Minister the British Prime Minister the British Prime Minister the British Prime Minister has crossed an ocean to show the British Prime Minister unity with America .
-----
Original: On September the 11th, enemies of freedom committed an act of war against our country.
Coreferenced: On September the 11th , enemies of freedom committed an act of war against America America .
-----
Original: Americans have known wars -- but for the past 136 years, they have been wars on foreign soil, except for one Sunday in 1941.
Coreferenced: Americans have known wars -- but for the past 136 years , Americans have been wars on foreign soil , except for one Sunday in 1941 .
-----
Original: Americans have many questions tonight.
Coreferenced: Americans have many questions tonight .
-----
Original: Americans are asking: Who attacked our country?
Coreferenced: Americans are asking : Who attacked America America ?
-----
Original: The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda.
Coreferenced: The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda .
-----
Original: They are some of the murderers indicted for bombing American embassies in Tanzania and Kenya, and responsible for bombing the USS Cole.
Coreferenced: The evidence we have gathered all points to a collection of loosely affiliated terrorist organizations known as al Qaeda are some of the murderers indicted for bombing American embassies in Tanzania and Kenya , and responsible for bombing the USS Cole .
-----
Original: Al Qaeda is to terror what the mafia is to crime.
Coreferenced: Al Qaeda is to terror what the mafia is to crime .
-----
Original: But its goal is not making money; its goal is remaking the world -- and imposing its radical beliefs on people everywhere.

Coreferenced: But its goal its goal is not making money ; its goal its goal is remaking the world -- and imposing Al Qaeda radical beliefs on people everywhere .
-----
Original: The terrorists practice a fringe form of Islamic extremism that has been rejected by Muslim scholars and the vast majority of Muslim clerics, a fringe movement that perverts the peaceful teachings of Islam.
Coreferenced: The terrorists The terrorists practice a fringe form of Islamic extremism that has been rejected by Muslim scholars and the vast majority of Muslim clerics , a fringe movement that perverts the peaceful teachings of Islam .
-----
Original: The terrorists' directive commands them to kill Christians and Jews, to kill all Americans, and make no distinctions among military and civilians, including women and children.
Coreferenced: The terrorists The terrorists The terrorists directive commands The terrorists to kill Christians and Jews , to kill all Americans , and make no distinctions among military and civilians , including women and children .
-----
Original: This group and its leader -- a person named Usama bin Laden -- are linked to many other organizations in different countries, including the Egyptian Islamic Jihad and the Islamic Movement of Uzbekistan.
Coreferenced: This group and Al Qaeda leader -- a person named Usama bin Laden -- are linked to many other organizations in different countries , including the Egyptian Islamic Jihad and the Islamic Movement of Uzbekistan .
-----
Original: There are thousands of these terrorists in more than 60 countries.
Coreferenced: There are thousands of The terrorists The terrorists in more than 60 countries .
-----
Original: They are recruited from their own nations and neighborhoods and brought to camps in places like Afghanistan, where they are trained in the tactics of terror.
Coreferenced: The terrorists are recruited from The terrorists own nations and neighborhoods and brought to camps in places like Afghanistan , where The terrorists are trained in the tactics of terror .
-----
Original: They are sent back to their homes or sent to hide in countries around the world to plot evil and destruction.

Coreferenced: The terrorists are sent back to The terrorists homes or sent to hide in countries around the world the world to plot evil and destruction .
-----
Original: The leadership of al Qaeda has great influence in Afghanistan and supports the Taliban regime in controlling most of that country.
Coreferenced: The leadership of al Qaeda has great influence in Afghanistan and supports the Taliban regime the Taliban regime the Taliban regime in controlling most of Afghanistan Afghanistan .
-----
Original: In Afghanistan, we see al Qaeda's vision for the world.
Coreferenced: In Afghanistan , we see al Qaeda's vision for the world the world .
-----
Original: Afghanistan's people have been brutalized; many are starving and many have fled.
Coreferenced: Afghanistan's people Afghanistan's people Afghanistan's people have been brutalized ; many are starving and many have fled .
-----
Original: Religion can be practiced only as their leaders dictate.
Coreferenced: Religion can be practiced only as Religion leaders dictate .
-----
Original: A man can be jailed in Afghanistan if his beard is not long enough.

Coreferenced: A man A man can be jailed in Afghanistan if A man beard is not long enough .
-----
Original: The United States respects the people of Afghanistan.
Coreferenced: The United States respects Afghanistan's people Afghanistan's people Afghanistan's people Afghanistan's people .
-----
Original: After all, we are currently its largest source of humanitarian aid; but we condemn the Taliban regime.
Coreferenced: After all , we are currently The United States largest source of humanitarian aid ; but we condemn the Taliban regime the Taliban regime the Taliban regime .
-----
Original: It is not only repressing its own people, it is threatening people everywhere by sponsoring and sheltering and supplying terrorists.
Coreferenced: the Taliban regime is not only repressing the Taliban regime own people , the Taliban regime is threatening people everywhere by sponsoring and sheltering and supplying terrorists .
-----
Original: By aiding and abetting murder, the Taliban regime is committing murder.

Coreferenced: By aiding and abetting murder , the Taliban regime the Taliban regime the Taliban regime is committing murder .
-----
Original: And tonight, the United States of America makes the following demands on the Taliban:
Coreferenced: And tonight , the United States of America makes the following demands on the Taliban the Taliban :
-----
Original: Close immediately and permanently every terrorist training camp in Afghanistan, and hand over every terrorist, and every person in their support structure, to appropriate authorities.
Coreferenced: Close immediately and permanently every terrorist training camp in Afghanistan , and hand over every terrorist , and every person in their support structure , to appropriate authorities .
-----
Original: Give the United States full access to terrorist training camps, so we can make sure they are no longer operating.
Coreferenced: Give The United States full access to terrorist training camps , so we can make sure The United States are no longer operating .
-----
Original: The Taliban must act, and act immediately.
Coreferenced: the Taliban the Taliban must act , and act immediately .
-----
Original: They will hand over the terrorists, or they will share in their fate.

Coreferenced: the Taliban will hand over the terrorists the terrorists , or the Taliban will share in the Taliban fate .
-----
Original: I also want to speak tonight directly to Muslims throughout the world.
Coreferenced: I also want to speak tonight directly to Muslims throughout the world .
-----
Original: It's practiced freely by many millions of Americans, and by millions more in countries that America counts as friends.
Coreferenced: It 's practiced freely by many millions of Americans , and by millions more in countries that America counts as friends .
-----
Original: Its teachings are good and peaceful, and those who commit evil in the name of Allah blaspheme the name of Allah.
Coreferenced: America teachings are good and peaceful , and those who commit evil in the name of Allah blaspheme the name of Allah .
-----
Original: The terrorists are traitors to their own faith, trying, in effect, to hijack Islam itself.
Coreferenced: the terrorists the terrorists are traitors to the terrorists own faith , trying , in effect , to hijack Islam itself .
-----
Original: The enemy of America is not our many Muslim friends; it is not our many Arab friends.
Coreferenced: The enemy of America The enemy of America The enemy of America The enemy of America is not our many Muslim friends ; The enemy of America is not our many Arab friends .
-----
Original: Our enemy is a radical network of terrorists, and every government that supports them.
Coreferenced: Our The enemy of America is a radical network of terrorists a radical network of terrorists a radical network of terrorists a radical network of terrorists a radical network of terrorists , and every government that supports a radical network of terrorists .
-----
Original: Our war on terror begins with al Qaeda, but it does not end there.
Coreferenced: Our war on terror Our war on terror Our war on terror Our war on terror begins with al Qaeda , but Our war on terror does not end there .
-----
Original: It will not end until every terrorist group of global reach has been found, stopped, and defeated.

Coreferenced: Our war on terror will not end until every terrorist group of global reach has been found , stopped , and defeated .
-----
Original: Americans are asking, why do they hate us?
Coreferenced: Americans are asking , why do Americans hate Our ?
-----
Original: They hate what they see right here in this chamber -- a democratically elected government.
Coreferenced: Americans hate what Americans see right here in this chamber -- a democratically elected government .
-----
Original: Their leaders are self-appointed.
Coreferenced: Their leaders Their leaders are self - appointed .
-----
Original: They hate our freedoms -- our freedom of religion, our freedom of speech, our freedom to vote and assemble and disagree with each other.
Coreferenced: Their leaders hate our freedoms -- our freedom of religion , our freedom of speech , our freedom to vote and assemble and disagree with each other .
-----
Original: They want to overthrow existing governments in many Muslim countries, such as Egypt, Saudi Arabia, and Jordan.
Coreferenced: Their leaders want to overthrow existing governments in many Muslim countries , such as Egypt , Saudi Arabia , and Jordan .
-----
Original: They want to drive Israel out of the Middle East.
Coreferenced: Their leaders want to drive Israel out of the Middle East .
-----
Original: They want to drive Christians and Jews out of vast regions of Asia and Africa.
Coreferenced: Their leaders want to drive Christians and Jews out of vast regions of Asia and Africa .
-----
Original: These terrorists kill not merely to end lives, but to disrupt and end a way of life.
Coreferenced: These terrorists These terrorists kill not merely to end lives , but to disrupt and end a way of life .
-----
Original: With every atrocity, they hope that America grows fearful, retreating from the world and forsaking our friends.
Coreferenced: With every atrocity , These terrorists hope that America grows fearful , retreating from the world the world and forsaking our friends .
-----
Original: They stand against us, because we stand in their way.

Coreferenced: These terrorists stand against our , because our stand in These terrorists way .
-----
Original: We are not deceived by their pretenses to piety.
Coreferenced: our are not deceived by These terrorists pretenses to piety .
-----

In [49]:
import pandas as pd


for sent in doc.sents:
    
    display(
        pd.DataFrame(
        
        [
            {
                "token": token,
                "co_ref": token._.coref_clusters[-1].main
            } 
            
            if token._.in_coref
            
            else
            
            {
                "token": token,
                "co_ref": token
            } 
            
            
            for token in sent
        ]
    ).T)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
token,\n,Mr.,Speaker,",",Mr.,President,Pro Tempore,",",members,of,Congress,",",and,fellow,Americans,:,\n
co_ref,\n,Mr.,Speaker,",",Mr.,President,Pro Tempore,",",members,of,Congress,",",and,fellow,Americans,:,\n

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
token,In,the,normal,course,of,events,",",Presidents,come,to,...,chamber,to,report,on,the,state,of,the,Union,.
co_ref,In,the,normal,course,of,events,",",Presidents,come,to,...,chamber,to,report,on,"(the, state, of, the, Union)","(the, state, of, the, Union)","(the, state, of, the, Union)","(the, Union)","(the, Union)",.

,0,1,2,3,4,5,6,7
token,Tonight,",",no,such,report,is,needed,.
co_ref,Tonight,",","(no, such, report)","(no, such, report)","(no, such, report)",is,needed,.

,0,1,2,3,4,5,6,7,8,9,10
token,It,has,already,been,delivered,by,the,American,people,.,\n
co_ref,"(no, such, report)",has,already,been,delivered,by,the,American,people,.,\n

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
token,We,have,seen,it,in,the,courage,of,passengers,",",...,ground,--,passengers,like,an,exceptional,man,named,Todd Beamer,.
co_ref,(We),have,seen,"(no, such, report)",in,the,courage,of,passengers,",",...,ground,--,passengers,like,"(an, exceptional, man, named, Todd Beamer)","(an, exceptional, man, named, Todd Beamer)","(an, exceptional, man, named, Todd Beamer)","(an, exceptional, man, named, Todd Beamer)","(an, exceptional, man, named, Todd Beamer)",.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
token,And,would,you,please,help,me,to,welcome,his,wife,",",Lisa Beamer,",",here,tonight,.
co_ref,And,would,you,please,help,me,to,welcome,"(an, exceptional, man, named, Todd Beamer)",wife,",",Lisa Beamer,",",here,tonight,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
token,We,have,seen,the,state,of,our,Union,in,the,endurance,of,rescuers,",",working,past,exhaustion,.
co_ref,(We),have,seen,"(the, state, of, the, Union)","(the, state, of, the, Union)","(the, state, of, the, Union)",(We),"(the, Union)",in,the,endurance,of,rescuers,",",working,past,exhaustion,.

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
token,We,'ve,seen,the,unfurling,of,flags,",",the,lighting,...,prayers,--,in,English,",",Hebrew,",",and,Arabic,.
co_ref,(We),'ve,seen,the,unfurling,of,flags,",",the,lighting,...,prayers,--,in,English,",",Hebrew,",",and,Arabic,.

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
token,We,have,seen,the,decency,of,a,loving,and,giving,...,who,have,made,the,grief,of,strangers,their,own,.
co_ref,(We),have,seen,the,decency,of,a,loving,and,giving,...,who,have,made,"(the, grief, of, strangers)","(the, grief, of, strangers)","(the, grief, of, strangers)","(the, grief, of, strangers)","(the, grief, of, strangers)",own,.

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
token,My,fellow,citizens,",",for,the last nine days,",",the,entire,world,...,of,our,Union,--,and,it,is,strong,.,\n
co_ref,My,fellow,citizens,",",for,the last nine days,",","(the, entire, world)","(the, entire, world)","(the, entire, world)",...,"(the, state, of, the, Union)","(the, Union)","(the, Union)",--,and,"(the, entire, world)",is,strong,.,\n

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
token,Tonight,we,are,a,country,awakened,to,danger,and,called,to,defend,freedom,.
co_ref,Tonight,(we),are,a,country,awakened,to,danger,and,called,to,defend,freedom,.

          0      1    2       3   4      5  6    7      8   9           10 11
token    Our  grief  has  turned  to  anger  ,  and  anger  to  resolution  .
co_ref  (we)  grief  has  turned  to  anger  ,  and  anger  to  resolution  .

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
token,Whether,we,bring,our,enemies,to,justice,",",or,bring,justice,to,our,enemies,",",justice,will,be,done,.
co_ref,Whether,(we),bring,"(our, enemies)","(our, enemies)",to,justice,",",or,bring,justice,to,"(our, enemies)","(our, enemies)",",",justice,will,be,done,.

,0,1,2,3,4,5,6,7,8,9,10,11,12
token,I,thank,the,Congress,for,its,leadership,at,such,an,important,time,.
co_ref,I,thank,"(the, Congress)","(the, Congress)",for,"(the, Congress)",leadership,at,such,an,important,time,.

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
token,All,of,America,was,touched,on,the evening,of,the,tragedy,...,steps,of,this,Capitol,",",singing,"""",God Bless America,.,""""
co_ref,All,of,(America),was,touched,on,the evening,of,the,tragedy,...,steps,of,this,Capitol,",",singing,"""",God Bless America,.,""""

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
token,And,you,did,more,than,sing,;,you,acted,",",...,our,communities,and,meet,the,needs,of,our,military,.
co_ref,And,you,did,more,than,sing,;,you,acted,",",...,(our),communities,and,meet,the,needs,of,(our),military,.

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
token,Speaker,Hastert,",",Minority,Leader,Gephardt,",",Majority,Leader,Daschle,...,leadership,",",and,for,your,service,to,our,country,.
co_ref,Speaker,Hastert,",",Minority,Leader,Gephardt,",",Majority,Leader,Daschle,...,leadership,",",and,for,your,service,to,our,country,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
token,And,on,behalf,of,the,American,people,",",I,thank,the,world,for,its,outpouring,of,support,.
co_ref,And,on,behalf,of,the,American,people,",",I,thank,"(the, world)","(the, world)",for,"(the, world)",outpouring,of,support,.

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
token,America,will,never,forget,the,sounds,of,our,National,Anthem,...,of,Paris,",",and,at,Berlin,'s,Brandenburg Gate,.,\n
co_ref,(America),will,never,forget,the,sounds,of,(America),National,Anthem,...,of,Paris,",",and,at,Berlin,'s,Brandenburg Gate,.,\n

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
token,We,will,not,forget,South Korean,children,gathering,to,pray,outside,...,prayers,of,sympathy,offered,at,a,mosque,in,Cairo,.
co_ref,(America),will,not,forget,South Korean,children,gathering,to,pray,outside,...,prayers,of,sympathy,offered,at,a,mosque,in,Cairo,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
token,We,will,not,forget,moments,of,silence,and,days,of,mourning,in,Australia,and,Africa,and,Latin America,.
co_ref,(America),will,not,forget,moments,of,silence,and,days,of,mourning,in,Australia,and,Africa,and,Latin America,.

,0,1,2,3,4,5,6,7,8,9,...,37,38,39,40,41,42,43,44,45,46
token,Nor,will,we,forget,the,citizens,of,80,other,nations,...,",",and,Japan,;,and,hundreds,of,British,citizens,.
co_ref,Nor,will,(America),forget,the,citizens,of,80,other,nations,...,",",and,Japan,;,and,hundreds,of,British,citizens,.

                0    1   2      3       4     5              6  7
token     America  has  no  truer  friend  than  Great Britain  .
co_ref  (America)  has  no  truer  friend  than  Great Britain  .

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
token,Once,again,",",we,are,joined,together,in,a,great,...,crossed,an,ocean,to,show,his,unity,with,America,.
co_ref,Once,again,",",(America),are,joined,together,in,a,great,...,crossed,an,ocean,to,show,"(the, British, Prime, Minister)",unity,with,(America),.

            0    1    2       3  4       5  6   7
token   Thank  you  for  coming  ,  friend  .  \n
co_ref  Thank  you  for  coming  ,  friend  .  \n

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
token,On,September the 11th,",",enemies,of,freedom,committed,an,act,of,war,against,our,country,.
co_ref,On,September the 11th,",",enemies,of,freedom,committed,an,act,of,war,against,(America),(America),.

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
token,Americans,have,known,wars,--,but,for,the past 136 years,",",they,...,foreign,soil,",",except,for,one,Sunday,in,1941,.
co_ref,(Americans),have,known,wars,--,but,for,the past 136 years,",",(Americans),...,foreign,soil,",",except,for,one,Sunday,in,1941,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
token,Americans,have,known,the,casualties,of,war,--,but,not,at,the,center,of,a,great,city,on,a peaceful morning,.
co_ref,Americans,have,known,the,casualties,of,war,--,but,not,at,the,center,of,a,great,city,on,a peaceful morning,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
token,Americans,have,known,surprise,attacks,--,but,never,before,on,thousands,of,civilians,.
co_ref,Americans,have,known,surprise,attacks,--,but,never,before,on,thousands,of,civilians,.

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
token,All,of,this,was,brought,upon,us,in,a single day,--,...,",",a,world,where,freedom,itself,is,under,attack,.
co_ref,All,of,this,was,brought,upon,us,in,a single day,--,...,",",a,world,where,freedom,itself,is,under,attack,.

                  0     1     2          3          4  5
token     Americans  have  many  questions    tonight  .
co_ref  (Americans)  have  many  questions  (tonight)  .

                  0    1       2  3    4         5          6          7  8
token     Americans  are  asking  :  Who  attacked        our    country  ?
co_ref  (Americans)  are  asking  :  Who  attacked  (America)  (America)  ?

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
token,The,evidence,we,have,gathered,all,points,to,a,collection,of,loosely,affiliated,terrorist,organizations,known,as,al Qaeda,.
co_ref,"(The, evidence, we, have, gathered, all, point...","(The, evidence, we, have, gathered, all, point...","(The, evidence, we, have, gathered, all, point...","(The, evidence, we, have, gathered, all, point...","(The, evidence, we, have, gathered, all, point...","(The, evidence, we, have, gathered, all, point...","(The, evidence, we, have, gathered, all, point...","(The, evidence, we, have, gathered, all, point...","(The, evidence, we, have, gathered, all, point...","(The, evidence, we, have, gathered, all, point...","(The, evidence, we, have, gathered, all, point...","(The, evidence, we, have, gathered, all, point...","(The, evidence, we, have, gathered, all, point...","(The, evidence, we, have, gathered, all, point...","(The, evidence, we, have, gathered, all, point...","(The, evidence, we, have, gathered, all, point...","(The, evidence, we, have, gathered, all, point...","(The, evidence, we, have, gathered, all, point...",.

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
token,They,are,some,of,the,murderers,indicted,for,bombing,American,...,Tanzania,and,Kenya,",",and,responsible,for,bombing,the USS Cole,.
co_ref,"(The, evidence, we, have, gathered, all, point...",are,some,of,the,murderers,indicted,for,bombing,American,...,Tanzania,and,Kenya,",",and,responsible,for,bombing,the USS Cole,.

                0   1   2       3     4    5      6   7   8      9  10
token     Al Qaeda  is  to  terror  what  the  mafia  is  to  crime  .
co_ref  (Al Qaeda)  is  to  terror  what  the  mafia  is  to  crime  .

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
token,But,its,goal,is,not,making,money,;,its,goal,...,and,imposing,its,radical,beliefs,on,people,everywhere,.,\n
co_ref,But,"(its, goal)","(its, goal)",is,not,making,money,;,"(its, goal)","(its, goal)",...,and,imposing,(Al Qaeda),radical,beliefs,on,people,everywhere,.,\n

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
token,The,terrorists,practice,a,fringe,form,of,Islamic,extremism,that,...,fringe,movement,that,perverts,the,peaceful,teachings,of,Islam,.
co_ref,"(The, terrorists)","(The, terrorists)",practice,a,fringe,form,of,Islamic,extremism,that,...,fringe,movement,that,perverts,the,peaceful,teachings,of,Islam,.

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
token,The,terrorists,',directive,commands,them,to,kill,Christians,and,...,among,military,and,civilians,",",including,women,and,children,.
co_ref,"(The, terrorists)","(The, terrorists)","(The, terrorists)",directive,commands,"(The, terrorists)",to,kill,Christians,and,...,among,military,and,civilians,",",including,women,and,children,.

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
token,This,group,and,its,leader,--,a,person,named,Usama bin Laden,...,organizations,in,different,countries,",",including,the Egyptian Islamic Jihad,and,the Islamic Movement of Uzbekistan,.
co_ref,This,group,and,(Al Qaeda),leader,--,a,person,named,Usama bin Laden,...,organizations,in,different,countries,",",including,the Egyptian Islamic Jihad,and,the Islamic Movement of Uzbekistan,.

,0,1,2,3,4,5,6,7,8,9
token,There,are,thousands,of,these,terrorists,in,more than 60,countries,.
co_ref,There,are,thousands,of,"(The, terrorists)","(The, terrorists)",in,more than 60,countries,.

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
token,They,are,recruited,from,their,own,nations,and,neighborhoods,and,...,where,they,are,trained,in,the,tactics,of,terror,.
co_ref,"(The, terrorists)",are,recruited,from,"(The, terrorists)",own,nations,and,neighborhoods,and,...,where,"(The, terrorists)",are,trained,in,the,tactics,of,terror,.

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
token,They,are,sent,back,to,their,homes,or,sent,to,...,around,the,world,to,plot,evil,and,destruction,.,\n
co_ref,"(The, terrorists)",are,sent,back,to,"(The, terrorists)",homes,or,sent,to,...,around,"(the, world)","(the, world)",to,plot,evil,and,destruction,.,\n

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
token,The,leadership,of,al Qaeda,has,great,influence,in,Afghanistan,and,...,the,Taliban,regime,in,controlling,most,of,that,country,.
co_ref,The,leadership,of,al Qaeda,has,great,influence,in,(Afghanistan),and,...,"(the, Taliban, regime)","(the, Taliban, regime)","(the, Taliban, regime)",in,controlling,most,of,(Afghanistan),(Afghanistan),.

,0,1,2,3,4,5,6,7,8,9,10
token,In,Afghanistan,",",we,see,al Qaeda's,vision,for,the,world,.
co_ref,In,(Afghanistan),",",we,see,al Qaeda's,vision,for,"(the, world)","(the, world)",.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
token,Afghanistan,'s,people,have,been,brutalized,;,many,are,starving,and,many,have,fled,.
co_ref,"(Afghanistan, 's, people)","(Afghanistan, 's, people)","(Afghanistan, 's, people)",have,been,brutalized,;,many,are,starving,and,many,have,fled,.

            0    1    2        3   4       5       6  7
token   Women  are  not  allowed  to  attend  school  .
co_ref  Women  are  not  allowed  to  attend  school  .

          0    1   2       3    4       5  6           7  8
token   You  can  be  jailed  for  owning  a  television  .
co_ref  You  can  be  jailed  for  owning  a  television  .

,0,1,2,3,4,5,6,7,8,9
token,Religion,can,be,practiced,only,as,their,leaders,dictate,.
co_ref,(Religion),can,be,practiced,only,as,(Religion),leaders,dictate,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
token,A,man,can,be,jailed,in,Afghanistan,if,his,beard,is,not,long,enough,.,\n
co_ref,"(A, man)","(A, man)",can,be,jailed,in,(Afghanistan),if,"(A, man)",beard,is,not,long,enough,.,\n

,0,1,2,3,4,5,6
token,The United States,respects,the,people,of,Afghanistan,.
co_ref,(The United States),respects,"(Afghanistan, 's, people)","(Afghanistan, 's, people)","(Afghanistan, 's, people)","(Afghanistan, 's, people)",.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
token,After,all,",",we,are,currently,its,largest,source,of,humanitarian,aid,;,but,we,condemn,the,Taliban,regime,.
co_ref,After,all,",",(we),are,currently,(The United States),largest,source,of,humanitarian,aid,;,but,(we),condemn,"(the, Taliban, regime)","(the, Taliban, regime)","(the, Taliban, regime)",.

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
token,It,is,not,only,repressing,its,own,people,",",it,...,people,everywhere,by,sponsoring,and,sheltering,and,supplying,terrorists,.
co_ref,"(the, Taliban, regime)",is,not,only,repressing,"(the, Taliban, regime)",own,people,",","(the, Taliban, regime)",...,people,everywhere,by,sponsoring,and,sheltering,and,supplying,terrorists,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
token,By,aiding,and,abetting,murder,",",the,Taliban,regime,is,committing,murder,.,\n
co_ref,By,aiding,and,abetting,murder,",","(the, Taliban, regime)","(the, Taliban, regime)","(the, Taliban, regime)",is,committing,murder,.,\n

,0,1,2,3,4,5,6,7,8,9,10,11
token,And,tonight,",",the United States of America,makes,the,following,demands,on,the,Taliban,:
co_ref,And,(tonight),",",the United States of America,makes,the,following,demands,on,"(the, Taliban)","(the, Taliban)",:

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
token,Deliver,to,United States,authorities,all,the,leaders,of,al Qaeda,who,hide,in,your,land,.
co_ref,Deliver,to,United States,authorities,all,the,leaders,of,al Qaeda,who,hide,in,your,land,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
token,Release,all,foreign,nationals,",",including,American,citizens,",",you,have,unjustly,imprisoned,.
co_ref,Release,all,foreign,nationals,",",including,American,citizens,",",you,have,unjustly,imprisoned,.

,0,1,2,3,4,5,6,7,8,9,10,11,12
token,Protect,foreign,journalists,",",diplomats,",",and,aid,workers,in,your,country,.
co_ref,Protect,foreign,journalists,",",diplomats,",",and,aid,workers,in,your,country,.

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
token,Close,immediately,and,permanently,every,terrorist,training,camp,in,Afghanistan,...,person,in,their,support,structure,",",to,appropriate,authorities,.
co_ref,Close,immediately,and,permanently,every,terrorist,training,camp,in,(Afghanistan),...,person,in,their,support,structure,",",to,appropriate,authorities,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
token,Give,the United States,full,access,to,terrorist,training,camps,",",so,we,can,make,sure,they,are,no,longer,operating,.
co_ref,Give,(The United States),full,access,to,terrorist,training,camps,",",so,we,can,make,sure,(The United States),are,no,longer,operating,.

            0        1    2    3     4   5            6   7           8  9
token   These  demands  are  not  open  to  negotiation  or  discussion  .
co_ref  These  demands  are  not  open  to  negotiation  or  discussion  .

                     0               1     2    3  4    5    6            7  8
token              The         Taliban  must  act  ,  and  act  immediately  .
co_ref  (the, Taliban)  (the, Taliban)  must  act  ,  and  act  immediately  .

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
token,They,will,hand,over,the,terrorists,",",or,they,will,share,in,their,fate,.,\n
co_ref,"(the, Taliban)",will,hand,over,"(the, terrorists)","(the, terrorists)",",",or,"(the, Taliban)",will,share,in,"(the, Taliban)",fate,.,\n

,0,1,2,3,4,5,6,7,8,9,10,11,12
token,I,also,want,to,speak,tonight,directly,to,Muslims,throughout,the,world,.
co_ref,I,also,want,to,speak,(tonight),directly,to,Muslims,throughout,the,world,.

         0        1     2      3  4
token   We  respect  your  faith  .
co_ref  We  respect  your  faith  .

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
token,It,'s,practiced,freely,by many millions,of,Americans,",",and,by,millions,more,in,countries,that,America,counts,as,friends,.
co_ref,It,'s,practiced,freely,by many millions,of,Americans,",",and,by,millions,more,in,countries,that,(America),counts,as,friends,.

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
token,Its,teachings,are,good,and,peaceful,",",and,those,who,...,the,name,of,Allah,blaspheme,the,name,of,Allah,.
co_ref,(America),teachings,are,good,and,peaceful,",",and,those,who,...,the,name,of,Allah,blaspheme,the,name,of,Allah,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
token,The,terrorists,are,traitors,to,their,own,faith,",",trying,",",in,effect,",",to,hijack,Islam,itself,.
co_ref,"(the, terrorists)","(the, terrorists)",are,traitors,to,"(the, terrorists)",own,faith,",",trying,",",in,effect,",",to,hijack,Islam,itself,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
token,The,enemy,of,America,is,not,our,many,Muslim,friends,;,it,is,not,our,many,Arab,friends,.
co_ref,"(The, enemy, of, America)","(The, enemy, of, America)","(The, enemy, of, America)","(The, enemy, of, America)",is,not,(our),many,Muslim,friends,;,"(The, enemy, of, America)",is,not,(our),many,Arab,friends,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
token,Our,enemy,is,a,radical,network,of,terrorists,",",and,every,government,that,supports,them,.
co_ref,(Our),"(The, enemy, of, America)",is,"(a, radical, network, of, terrorists)","(a, radical, network, of, terrorists)","(a, radical, network, of, terrorists)","(a, radical, network, of, terrorists)","(a, radical, network, of, terrorists)",",",and,every,government,that,supports,"(a, radical, network, of, terrorists)",.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
token,Our,war,on,terror,begins,with,al Qaeda,",",but,it,does,not,end,there,.
co_ref,"(Our, war, on, terror)","(Our, war, on, terror)","(Our, war, on, terror)","(Our, war, on, terror)",begins,with,al Qaeda,",",but,"(Our, war, on, terror)",does,not,end,there,.

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
token,It,will,not,end,until,every,terrorist,group,of,global,...,has,been,found,",",stopped,",",and,defeated,.,\n
co_ref,"(Our, war, on, terror)",will,not,end,until,every,terrorist,group,of,global,...,has,been,found,",",stopped,",",and,defeated,.,\n

                  0    1       2  3    4   5            6     7      8  9
token     Americans  are  asking  ,  why  do         they  hate     us  ?
co_ref  (Americans)  are  asking  ,  why  do  (Americans)  hate  (Our)  ?

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
token,They,hate,what,they,see,right,here,in,this,chamber,--,a,democratically,elected,government,.
co_ref,(Americans),hate,what,(Americans),see,right,here,in,this,chamber,--,a,democratically,elected,government,.

                       0                 1    2     3  4          5  6
token              Their           leaders  are  self  -  appointed  .
co_ref  (Their, leaders)  (Their, leaders)  are  self  -  appointed  .

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
token,They,hate,our,freedoms,--,our,freedom,of,religion,",",...,to,vote,and,assemble,and,disagree,with,each,other,.
co_ref,"(Their, leaders)",hate,our,freedoms,--,our,freedom,of,religion,",",...,to,vote,and,assemble,and,disagree,with,each,other,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
token,They,want,to,overthrow,existing,governments,in,many,Muslim,countries,",",such,as,Egypt,",",Saudi Arabia,",",and,Jordan,.
co_ref,"(Their, leaders)",want,to,overthrow,existing,governments,in,many,Muslim,countries,",",such,as,Egypt,",",Saudi Arabia,",",and,Jordan,.

                       0     1   2      3       4    5   6                7  8
token               They  want  to  drive  Israel  out  of  the Middle East  .
co_ref  (Their, leaders)  want  to  drive  Israel  out  of  the Middle East  .

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
token,They,want,to,drive,Christians,and,Jews,out,of,vast,regions,of,Asia,and,Africa,.
co_ref,"(Their, leaders)",want,to,drive,Christians,and,Jews,out,of,vast,regions,of,(Asia),and,(Africa),.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
token,These,terrorists,kill,not,merely,to,end,lives,",",but,to,disrupt,and,end,a,way,of,life,.
co_ref,"(These, terrorists)","(These, terrorists)",kill,not,merely,to,end,lives,",",but,to,disrupt,and,end,a,way,of,life,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
token,With,every,atrocity,",",they,hope,that,America,grows,fearful,",",retreating,from,the,world,and,forsaking,our,friends,.
co_ref,With,every,atrocity,",","(These, terrorists)",hope,that,(America),grows,fearful,",",retreating,from,"(the, world)","(the, world)",and,forsaking,(our),friends,.

,0,1,2,3,4,5,6,7,8,9,10,11,12
token,They,stand,against,us,",",because,we,stand,in,their,way,.,\n
co_ref,"(These, terrorists)",stand,against,(our),",",because,(our),stand,in,"(These, terrorists)",way,.,\n

,0,1,2,3,4,5,6,7,8,9
token,We,are,not,deceived,by,their,pretenses,to,piety,.
co_ref,(our),are,not,deceived,by,"(These, terrorists)",pretenses,to,piety,.

            0     1     2                    3     4       5  6
token      We  have  seen                their  kind  before  .
co_ref  (our)  have  seen  (These, terrorists)  kind  before  .

,0,1,2,3,4,5,6,7,8,9,10,11
token,They,are,the,heirs,of,all,the,murderous,ideologies,of,the 20th century,.
co_ref,"(These, terrorists)",are,the,heirs,of,all,the,murderous,ideologies,of,the 20th century,.

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
token,By,sacrificing,human,life,to,serve,their,radical,visions,--,...,the,path,of,fascism,",",Nazism,",",and,totalitarianism,.
co_ref,By,sacrificing,human,life,to,serve,(their),radical,visions,--,...,the,path,of,fascism,",",Nazism,",",and,totalitarianism,.

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
token,And,they,will,follow,that,path,all,the,way,",",...,:,in,history,'s,unmarked,grave,of,discarded,lies,.
co_ref,And,(their),will,follow,that,path,all,the,way,",",...,:,in,history,'s,unmarked,grave,of,discarded,lies,.

,0,1,2,3,4,5,6,7,8,9,10,11,12
token,Americans,are,asking,:,How,will,we,fight,and,win,this,war,?
co_ref,(Americans),are,asking,:,How,will,(Americans),fight,and,win,"(this, war)","(this, war)",?

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
token,We,will,direct,every,resource,at,our,command,--,every,...,to,the,defeat,of,the,global,terror,network,.,\n
co_ref,(Americans),will,direct,every,resource,at,(Americans),command,--,every,...,to,the,defeat,of,the,global,terror,network,.,\n

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
token,Now,this,war,will,not,be,like,the,war,against,...,a,decisive,liberation,of,territory,and,a,swift,conclusion,.
co_ref,Now,"(this, war)","(this, war)",will,not,be,like,"(this, war)","(this, war)","(this, war)",...,a,decisive,liberation,of,territory,and,a,swift,conclusion,.

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
token,It,will,not,look,like,the,air,war,above,Kosovo,...,and,not,a,single,American,was,lost,in,combat,.
co_ref,"(this, war)",will,not,look,like,"(this, war)","(this, war)","(this, war)","(this, war)","(this, war)",...,and,not,a,single,American,was,lost,in,combat,.

,0,1,2,3,4,5,6,7,8,9,10,11
token,Our,response,involves,far,more,than,instant,retaliation,and,isolated,strikes,.
co_ref,(Our),response,involves,far,more,than,instant,retaliation,and,isolated,strikes,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
token,Americans,should,not,expect,one,battle,",",but,a,lengthy,campaign,",",unlike,any,other,we,have,ever,seen,.
co_ref,Americans,should,not,expect,one,battle,",",but,a,lengthy,campaign,",",unlike,any,other,(Our),have,ever,seen,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
token,It,may,include,dramatic,strikes,",",visible,on,TV,",",and,covert,operations,",",secret,even,in,success,.
co_ref,It,may,include,dramatic,strikes,",",visible,on,TV,",",and,covert,operations,",",secret,even,in,success,.

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
token,We,will,starve,terrorists,of,funding,",",turn,them,one,...,",",until,there,is,no,refuge,or,no,rest,.
co_ref,(We),will,starve,"(terrorists, of, funding)","(terrorists, of, funding)","(terrorists, of, funding)",",",turn,"(terrorists, of, funding)",one,...,",",until,there,is,no,refuge,or,no,rest,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
token,And,we,will,pursue,nations,that,provide,aid,or,safe,haven,to,terrorism,.
co_ref,And,(We),will,pursue,nations,that,provide,aid,or,safe,haven,to,terrorism,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
token,Every,nation,",",in,every,region,",",now,has,a,decision,to,make,.
co_ref,"(Every, nation)","(Every, nation)",",",in,every,region,",",now,has,a,decision,to,make,.

,0,1,2,3,4,5,6,7,8,9,10,11,12
token,Either,you,are,with,us,",",or,you,are,with,the,terrorists,.
co_ref,Either,you,are,with,(We),",",or,you,are,with,"(the, terrorists)","(the, terrorists)",.

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
token,From,this day,forward,",",any,nation,that,continues,to,harbor,...,be,regarded,by,the United States,as,a,hostile,regime,.,\n
co_ref,From,this day,forward,",",any,nation,that,continues,to,harbor,...,be,regarded,by,(The United States),as,a,hostile,regime,.,\n

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
token,Our,nation,has,been,put,on,notice,:,We,'re,not,immune,from,attack,.
co_ref,(Our),"(Every, nation)",has,been,put,on,notice,:,(Our),'re,not,immune,from,attack,.

,0,1,2,3,4,5,6,7,8,9,10
token,We,will,take,defensive,measures,against,terrorism,to,protect,Americans,.
co_ref,(Our),will,take,defensive,measures,against,terrorism,to,protect,Americans,.

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
token,Today,",",dozens,of,federal,departments,and,agencies,",",as,...,and,local,governments,",",have,responsibilities,affecting,homeland,security,.
co_ref,Today,",",dozens,of,federal,departments,and,agencies,",",as,...,and,local,governments,",",have,responsibilities,affecting,homeland,security,.

            0        1     2   3            4   5    6        7      8  9
token   These  efforts  must  be  coordinated  at  the  highest  level  .
co_ref  These  efforts  must  be  coordinated  at  the  highest  level  .

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
token,So,tonight,",",I,announce,the,creation,of,a,Cabinet,-,level,position,reporting,directly,to,me,--,the Office of Homeland Security,.
co_ref,So,(tonight),",",I,announce,the,creation,of,a,Cabinet,-,level,position,reporting,directly,to,me,--,the Office of Homeland Security,.

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
token,And,tonight,I,also,announce,a,distinguished,American,to,lead,...,patriot,",",a,trusted,friend,--,Pennsylvania,'s,Tom Ridge,.
co_ref,And,(tonight),I,also,announce,"(a, distinguished, American)","(a, distinguished, American)","(a, distinguished, American)",to,lead,...,patriot,",",a,trusted,friend,--,Pennsylvania,'s,Tom Ridge,.

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
token,He,will,lead,",",oversee,",",and,coordinate,a,comprehensive,...,and,respond,to,any,attacks,that,may,come,.,\n
co_ref,"(a, distinguished, American)",will,lead,",",oversee,",",and,coordinate,a,comprehensive,...,and,respond,to,any,attacks,that,may,come,.,\n

            0         1    2          3  4
token   These  measures  are  essential  .
co_ref  These  measures  are  essential  .

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
token,But,the,only,way,to,defeat,terrorism,as,a,threat,...,eliminate,it,",",and,destroy,it,where,it,grows,.
co_ref,But,the,only,way,to,defeat,terrorism,as,a,threat,...,eliminate,"(our, way, of, life)",",",and,destroy,"(our, way, of, life)",where,"(our, way, of, life)",grows,.

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
token,Many,will,be,involved,in,this,effort,",",from,FBI,...,to,the,reservists,we,have,called,to,active,duty,.
co_ref,Many,will,be,involved,in,"(this, effort)","(this, effort)",",",from,FBI,...,to,the,reservists,(we),have,called,to,active,duty,.

         0        1     2       3  4    5    6     7     8        9  10
token   All  deserve   our  thanks  ,  and  all  have   our  prayers  .
co_ref  All  deserve  (we)  thanks  ,  and  all  have  (we)  prayers  .

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
token,And,tonight,",",a few miles,from,the,damaged,Pentagon,",",I,have,a,message,for,our,military,:,Be,ready,.
co_ref,And,(tonight),",",a few miles,from,the,damaged,Pentagon,",",I,have,a,message,for,(we),military,:,Be,ready,.

,0,1,2,3,4,5,6,7,8,9,10,11,12
token,I,'ve,called,the Armed Forces,to,alert,",",and,there,is,a,reason,.
co_ref,I,'ve,called,the Armed Forces,to,alert,",",and,there,is,a,reason,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
token,The hour,is,coming,when,America,will,act,",",and,you,will,make,us,proud,.
co_ref,The hour,is,coming,when,(America),will,act,",",and,you,will,make,(we),proud,.

,0,1,2,3,4,5,6,7,8,9,10
token,This,is,not,",",however,",",just,America,'s,fight,.
co_ref,This,is,not,",",however,",","(just, America, 's, fight)","(just, America, 's, fight)","(just, America, 's, fight)","(just, America, 's, fight)",.

         0     1   2   3      4   5    6     7          8   9        10 11
token   And  what  is  at  stake  is  not  just    America  's  freedom  .
co_ref  And  what  is  at  stake  is  not  just  (America)  's  freedom  .

,0,1,2,3,4,5,6
token,This,is,the,world,'s,fight,.
co_ref,(This),is,"(just, America, 's, fight)","(just, America, 's, fight)","(just, America, 's, fight)","(just, America, 's, fight)",.

             0   1             2   3      4  5
token     This  is  civilization  's  fight  .
co_ref  (This)  is  civilization  's  fight  .

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
token,This,is,the,fight,of,all,who,believe,in,progress,and,pluralism,",",tolerance,and,freedom,.,\n
co_ref,(This),is,the,fight,of,all,who,believe,in,progress,and,pluralism,",",tolerance,and,freedom,.,\n

           0    1      2       3   4     5     6  7
token     We  ask  every  nation  to  join    us  .
co_ref  (We)  ask  every  nation  to  join  (We)  .

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
token,We,will,ask,",",and,we,will,need,",",the,...,intelligence,services,",",and,banking,systems,around,the,world,.
co_ref,(We),will,ask,",",and,(We),will,need,",",the,...,intelligence,services,",",and,banking,systems,around,"(the, world)","(the, world)",.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
token,The United States,is,grateful,that,many,nations,and,many,international,organizations,have,already,responded,--,with,sympathy,and,with,support,.
co_ref,(The United States),is,grateful,that,many,nations,and,many,international,organizations,have,already,responded,--,with,sympathy,and,with,support,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
token,Nations,from,Latin America,",",to,Asia,",",to,Africa,",",to,Europe,",",to,the,Islamic,world,.
co_ref,Nations,from,Latin America,",",to,(Asia),",",to,(Africa),",",to,Europe,",",to,"(the, world)","(the, world)","(the, world)",.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
token,Perhaps,the NATO Charter,reflects,best,the,attitude,of,the,world,:,An,attack,on,one,is,an,attack,on,all,.
co_ref,Perhaps,the NATO Charter,reflects,best,the,attitude,of,"(the, world)","(the, world)",:,An,attack,on,one,is,an,attack,on,all,.

,0,1,2,3,4,5,6,7,8,9
token,The,civilized,world,is,rallying,to,America,'s,side,.
co_ref,"(the, world)","(the, world)","(the, world)",is,rallying,to,(America),'s,side,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
token,They,understand,that,if,this,terror,goes,unpunished,",",their,own,cities,",",their,own,citizens,may,be,next,.
co_ref,"(the, world)",understand,that,if,"(this, terror, goes, unpunished, ,, their, own...","(this, terror, goes, unpunished, ,, their, own...","(this, terror, goes, unpunished, ,, their, own...","(this, terror, goes, unpunished, ,, their, own...","(this, terror, goes, unpunished, ,, their, own...","(this, terror, goes, unpunished, ,, their, own...","(this, terror, goes, unpunished, ,, their, own...","(this, terror, goes, unpunished, ,, their, own...","(this, terror, goes, unpunished, ,, their, own...","(this, terror, goes, unpunished, ,, their, own...","(this, terror, goes, unpunished, ,, their, own...","(this, terror, goes, unpunished, ,, their, own...","(this, terror, goes, unpunished, ,, their, own...","(this, terror, goes, unpunished, ,, their, own...","(this, terror, goes, unpunished, ,, their, own...",.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
token,Terror,",",unanswered,",",can,not,only,bring,down,buildings,",",it,can,threaten,the,stability,of,legitimate,governments,.
co_ref,Terror,",",unanswered,",",can,not,only,bring,down,buildings,",","(this, terror, goes, unpunished, ,, their, own...",can,threaten,the,stability,of,legitimate,governments,.

          0    1     2     3  4
token   And  you  know  what  ?
co_ref  And  you  know  what  ?

,0,1,2,3,4,5,6,7,8
token,We,'re,not,going,to,allow,it,.,\n
co_ref,(We),'re,not,going,to,allow,"(this, terror, goes, unpunished, ,, their, own...",.,\n

                0    1       2  3     4   5         6   7     8  9
token   Americans  are  asking  :  What  is  expected  of    us  ?
co_ref  Americans  are  asking  :  What  is  expected  of  (We)  ?

       0    1    2   3     4     5      6  7    8    9     10        11 12
token   I  ask  you  to  live  your  lives  ,  and  hug  your  children  .
co_ref  I  ask  you  to  live  your  lives  ,  and  hug  your  children  .

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
token,I,know,many,citizens,have,fears,tonight,",",and,I,...,",",even,in,the,face,of,a,continuing,threat,.
co_ref,I,know,many,citizens,have,fears,(tonight),",",and,I,...,",",even,in,the,face,of,a,continuing,threat,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
token,I,ask,you,to,uphold,the,values,of,America,",",and,remember,why,so,many,have,come,here,.
co_ref,I,ask,you,to,uphold,"(the, values, of, America)","(the, values, of, America)","(the, values, of, America)","(the, values, of, America)",",",and,remember,why,so,many,have,come,here,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
token,We,are,in,a,fight,for,our,principles,",",and,our,first,responsibility,is,to,live,by,them,.
co_ref,(We),are,in,a,fight,for,(We),principles,",",and,(We),first,responsibility,is,to,live,by,"(the, values, of, America)",.

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
token,No,one,should,be,singled,out,for,unfair,treatment,or,...,words,because,of,their,ethnic,background,or,religious,faith,.
co_ref,No,one,should,be,singled,out,for,unfair,treatment,or,...,words,because,of,"(the, values, of, America)",ethnic,background,or,religious,faith,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
token,I,ask,you,to,continue,to,support,the,victims,of,this,tragedy,with,your,contributions,.
co_ref,I,ask,you,to,continue,to,support,the,victims,of,this,tragedy,with,your,contributions,.

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
token,Those,who,want,to,give,can,go,to,a,central,...,help,in,New York,",",Pennsylvania,",",and,Virginia,.,\n
co_ref,Those,who,want,to,give,can,go,to,a,central,...,help,in,New York,",",Pennsylvania,",",and,Virginia,.,\n

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
token,The,thousands,of,FBI,agents,who,are,now,at,work,...,cooperation,",",and,I,ask,you,to,give,it,.
co_ref,The,thousands,of,FBI,agents,who,are,now,at,work,...,"(your, cooperation)",",",and,I,ask,you,to,give,"(your, cooperation)",.

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
token,I,ask,for,your,patience,",",with,the,delays,and,...,your,patience,in,what,will,be,a,long,struggle,.
co_ref,I,ask,for,your,patience,",",with,the,delays,and,...,your,patience,in,what,will,be,a,long,struggle,.

,0,1,2,3,4,5,6,7,8,9,10,11
token,I,ask,your,continued,participation,and,confidence,in,the,American,economy,.
co_ref,I,ask,your,continued,participation,and,confidence,in,the,American,economy,.

                   0         1  2       3   4         5           6  7
token     Terrorists  attacked  a  symbol  of  American  prosperity  .
co_ref  (Terrorists)  attacked  a  symbol  of  American  prosperity  .

                   0    1    2      3                    4       5  6
token           They  did  not  touch                  its  source  .
co_ref  (Terrorists)  did  not  touch  (your, cooperation)  source  .

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
token,America,is,successful,because,of,the,hard,work,",",and,creativity,",",and,enterprise,of,our,people,.
co_ref,(America),is,successful,because,of,"(the, hard, work, ,, and, creativity, ,, and, ...","(the, hard, work, ,, and, creativity, ,, and, ...","(the, hard, work, ,, and, creativity, ,, and, ...","(the, hard, work, ,, and, creativity, ,, and, ...","(the, hard, work, ,, and, creativity, ,, and, ...","(the, hard, work, ,, and, creativity, ,, and, ...","(the, hard, work, ,, and, creativity, ,, and, ...","(the, hard, work, ,, and, creativity, ,, and, ...","(the, hard, work, ,, and, creativity, ,, and, ...","(the, hard, work, ,, and, creativity, ,, and, ...",(our),"(the, hard, work, ,, and, creativity, ,, and, ...",.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
token,These,were,the,true,strengths,of,our,economy,before,September 11th,",",and,they,are,our,strengths,today,.
co_ref,"(the, hard, work, ,, and, creativity, ,, and, ...",were,the,true,strengths,of,(our),economy,before,September 11th,",",and,"(the, hard, work, ,, and, creativity, ,, and, ...",are,(our),strengths,today,.

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
token,And,",",finally,",",please,continue,praying,for,the,victims,...,those,in,uniform,",",and,for,our,great,country,.
co_ref,And,",",finally,",",please,continue,praying,for,the,victims,...,those,in,uniform,",",and,for,(America),(America),(America),.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
token,Prayer,has,comforted,us,in,sorrow,",",and,will,help,strengthen,us,for,the,journey,ahead,.,\n
co_ref,Prayer,has,comforted,(our),in,sorrow,",",and,will,help,strengthen,(our),for,the,journey,ahead,.,\n

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
token,Tonight,I,thank,my,fellow,Americans,for,what,you,have,already,done,and,for,what,you,will,do,.
co_ref,(tonight),I,thank,my,fellow,Americans,for,what,you,have,already,done,and,for,what,you,will,do,.

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
token,And,ladies,and,gentlemen,of,the,Congress,",",I,thank,...,already,done,and,for,what,we,will,do,together,.
co_ref,And,"(ladies, and, gentlemen, of, the, Congress)","(ladies, and, gentlemen, of, the, Congress)","(ladies, and, gentlemen, of, the, Congress)","(ladies, and, gentlemen, of, the, Congress)","(the, Congress)","(the, Congress)",",",I,thank,...,already,done,and,for,what,(our),will,do,together,.

                0  1      2     3    4    5       6         7           8  9
token     Tonight  ,     we  face  new  and  sudden  national  challenges  .
co_ref  (tonight)  ,  (our)  face  new  and  sudden  national  challenges  .

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
token,We,will,come,together,to,improve,air,safety,",",to,...,flights,",",and,take,new,measures,to,prevent,hijacking,.
co_ref,(our),will,come,together,to,improve,air,safety,",",to,...,flights,",",and,take,new,measures,to,prevent,hijacking,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
token,We,will,come,together,to,promote,stability,and,keep,our,airlines,flying,",",with,direct,assistance,during,this,emergency,.
co_ref,(our),will,come,together,to,promote,stability,and,keep,(our),airlines,flying,",",with,direct,assistance,during,this,emergency,.

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
token,We,will,come,together,to,give,law,enforcement,the,additional,...,it,needs,to,track,down,terror,here,at,home,.
co_ref,(our),will,come,together,to,give,"(law, enforcement)","(law, enforcement)",the,additional,...,"(law, enforcement)",needs,to,track,down,terror,here,at,home,.

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
token,We,will,come,together,to,strengthen,our,intelligence,capabilities,to,...,",",and,to,find,them,before,they,strike,.,\n
co_ref,(our),will,come,together,to,strengthen,(our),intelligence,capabilities,to,...,",",and,to,find,"(they, act)",before,"(they, act)",strike,.,\n

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
token,We,will,come,together,to,take,active,steps,that,strengthen,...,economy,",",and,put,our,people,back,to,work,.
co_ref,(our),will,come,together,to,take,active,steps,that,strengthen,...,economy,",",and,put,(our),people,back,to,work,.

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
token,Tonight,we,welcome,two,leaders,who,embody,the,extraordinary,spirit,...,all,New Yorkers,:,Governor,George Pataki,",",and,Mayor,Rudolph Giuliani,.
co_ref,(tonight),"(we, welcome, two, leaders, who, embody, the, ...","(we, welcome, two, leaders, who, embody, the, ...","(we, welcome, two, leaders, who, embody, the, ...","(we, welcome, two, leaders, who, embody, the, ...","(we, welcome, two, leaders, who, embody, the, ...","(we, welcome, two, leaders, who, embody, the, ...","(we, welcome, two, leaders, who, embody, the, ...","(we, welcome, two, leaders, who, embody, the, ...","(we, welcome, two, leaders, who, embody, the, ...",...,"(we, welcome, two, leaders, who, embody, the, ...","(we, welcome, two, leaders, who, embody, the, ...","(we, welcome, two, leaders, who, embody, the, ...","(we, welcome, two, leaders, who, embody, the, ...","(we, welcome, two, leaders, who, embody, the, ...","(we, welcome, two, leaders, who, embody, the, ...","(we, welcome, two, leaders, who, embody, the, ...","(we, welcome, two, leaders, who, embody, the, ...","(we, welcome, two, leaders, who, embody, the, ...",.

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
token,As,a,symbol,of,America,'s,resolve,",",my,administration,...,show,the,world,that,we,will,rebuild,New York City,.,\n
co_ref,As,a,symbol,of,(America),'s,resolve,",",my,administration,...,show,"(the, world)","(the, world)",that,we,will,rebuild,New York City,.,\n

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
token,After,all,that,has,just,passed,--,all,the,lives,...,if,America,'s,future,is,one,of,fear,.,
co_ref,After,all,that,has,just,passed,--,all,the,lives,...,if,(America),'s,future,is,one,of,fear,.,

           0      1   2   3    4   5       6  7
token   Some  speak  of  an  age  of  terror  .
co_ref  Some  speak  of  an  age  of  terror  .

       0     1      2    3          4      5  6    7        8   9     10 11
token   I  know  there  are  struggles  ahead  ,  and  dangers  to  face  .
co_ref  I  know  there  are  struggles  ahead  ,  and  dangers  to  face  .

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
token,But,this,country,will,define,our,times,",",not,be,defined,by,them,.
co_ref,But,(America),(America),will,define,(our),times,",",not,be,defined,by,(them),.

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
token,As,long,as,the United States of America,is,determined,and,strong,",",this,...,of,liberty,",",here,and,across,the,world,.,\n
co_ref,As,long,as,the United States of America,is,determined,and,strong,",",this,...,of,liberty,",",here,and,across,"(the, world)","(the, world)",.,\n

            0     1    2     3     4   5      6  7
token   Great  harm  has  been  done  to     us  .
co_ref  Great  harm  has  been  done  to  (our)  .

            0     1         2      3     4  5
token      We  have  suffered  great  loss  .
co_ref  (our)  have  suffered  great  loss  .

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
token,And,in,our,grief,and,anger,we,have,found,our,mission,and,our,moment,.
co_ref,And,in,(our),grief,and,anger,(our),have,found,(our),mission,and,(our),moment,.

              0    1     2    3   4    5  6  7
token   Freedom  and  fear  are  at  war  .
co_ref  Freedom  and  fear  are  at  war  .

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
token,The,advance,of,human,freedom,--,the,great,achievement,of,...,hope,of,every,time,--,now,depends,on,us,.
co_ref,The,advance,of,human,freedom,--,the,great,achievement,of,...,hope,of,every,time,--,now,depends,on,(our),.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
token,Our,nation,",",this,generation,will,lift,a,dark,threat,of,violence,from,our,people,and,our,future,.
co_ref,"(Every, nation)","(Every, nation)",",",this,generation,will,lift,a,dark,threat,of,violence,from,(our),people,and,(our),future,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
token,We,will,rally,the,world,to,this,cause,by,our,efforts,",",by,our,courage,.
co_ref,(our),will,rally,"(the, world)","(the, world)",to,this,cause,by,(our),efforts,",",by,(our),courage,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
token,We,will,not,tire,",",we,will,not,falter,",",and,we,will,not,fail,.,\n
co_ref,(our),will,not,tire,",",(our),will,not,falter,",",and,(our),will,not,fail,.,\n

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
token,It,is,my,hope,that,in,the months and years ahead,",",life,will,return,almost,to,normal,.,
co_ref,It,is,my,hope,that,in,the months and years ahead,",",life,will,return,almost,to,normal,.,

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
token,We,'ll,go,back,to,our,lives,and,routines,",",and,that,is,good,.,
co_ref,(our),'ll,go,back,to,(our),lives,and,routines,",",and,that,is,good,.,

           0      1        2     3     4    5      6  7
token   Even  grief  recedes  with  time  and  grace  .
co_ref  Even  grief  recedes  with  time  and  grace  .

          0      1        2     3    4     5  6
token   But    our  resolve  must  not  pass  .
co_ref  But  (our)  resolve  must  not  pass  .

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
token,Each,of,us,will,remember,what,happened,that day,",",and,to,whom,it,happened,.
co_ref,Each,of,(our),will,remember,what,happened,that day,",",and,to,whom,it,happened,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
token,We,'ll,remember,the,moment,the,news,came,--,where,we,were,and,what,we,were,doing,.
co_ref,(our),'ll,remember,the,moment,the,news,came,--,where,(our),were,and,what,(our),were,doing,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
token,Some,will,remember,an,image,of,a,fire,",",or,a,story,of,rescue,.
co_ref,Some,will,remember,an,image,of,a,fire,",",or,a,story,of,rescue,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
token,Some,will,carry,memories,of,a,face,and,a,voice,gone,forever,.,\n
co_ref,Some,will,carry,memories,of,a,face,and,a,voice,gone,forever,.,\n

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
token,And,I,will,carry,this,:,It,is,the,police,...,",",who,died,at,the World Trade Center,trying,to,save,others,.
co_ref,And,I,will,carry,(this),:,(this),is,the,police,...,",",who,died,at,the World Trade Center,trying,to,save,others,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
token,It,was,given,to,me,by,his,mom,",",Arlene,",",as,a,proud,memorial,to,her,son,.
co_ref,It,was,given,to,me,by,his,mom,",",Arlene,",",as,a,proud,memorial,to,her,son,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
token,It,is,my,reminder,of,lives,that,ended,",",and,a,task,that,does,not,end,.
co_ref,It,is,my,reminder,of,lives,that,ended,",",and,a,task,that,does,not,end,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
token,I,will,not,forget,this,wound,to,our,country,or,those,who,inflicted,it,.
co_ref,I,will,not,forget,"(this, wound)","(this, wound)",to,our,country,or,those,who,inflicted,"(this, wound)",.

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
token,I,will,not,yield,;,I,will,not,rest,;,...,struggle,for,freedom,and,security,for,the,American,people,.
co_ref,I,will,not,yield,;,I,will,not,rest,;,...,struggle,for,freedom,and,security,for,the,American,people,.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
token,The,course,of,this,conflict,is,not,known,",",yet,its,outcome,is,certain,.
co_ref,"(The, course, of, this, conflict)","(The, course, of, this, conflict)","(The, course, of, this, conflict)","(The, course, of, this, conflict)","(The, course, of, this, conflict)",is,not,known,",",yet,"(The, course, of, this, conflict)",outcome,is,certain,.

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
token,Freedom,and,fear,",",justice,and,cruelty,",",have,always,...,know,that,God,is,not,neutral,between,them,.,\n
co_ref,"(Freedom, and, fear, ,, justice, and, cruelty)","(Freedom, and, fear, ,, justice, and, cruelty)","(Freedom, and, fear, ,, justice, and, cruelty)","(Freedom, and, fear, ,, justice, and, cruelty)","(Freedom, and, fear, ,, justice, and, cruelty)","(Freedom, and, fear, ,, justice, and, cruelty)","(Freedom, and, fear, ,, justice, and, cruelty)",",",have,always,...,know,that,(God),is,not,neutral,between,"(Freedom, and, fear, ,, justice, and, cruelty)",.,\n

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
token,Fellow,citizens,",",we,'ll,meet,violence,with,patient,justice,...,cause,",",and,confident,of,the,victories,to,come,.
co_ref,"(Fellow, citizens)","(Fellow, citizens)",",","(Fellow, citizens)",'ll,meet,violence,with,patient,justice,...,cause,",",and,confident,of,the,victories,to,come,.

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
token,In,all,that,lies,before,us,",",may,God,grant,...,wisdom,",",and,may,He,watch,over,the United States of America,.,\n
co_ref,In,all,that,lies,before,"(Fellow, citizens)",",",may,(God),grant,...,wisdom,",",and,may,(God),watch,over,the United States of America,.,\n

            0    1  2   3
token   Thank  you  .  \n
co_ref  Thank  you  .  \n

In [42]:
from spacy.tokens import Span, Token

def get_coref_string(doclike):
    
    strings = []
    
    for token in doclike:
        
        roots = token._.coref_clusters
        
        if roots:
            
            for root in roots:
                span = Span(root.doc, root.left_edge.i, root.right_edge.i + 1, label = root.ent_type_)
            strings.append(str(span))
        else:
            strings.append(token.text)
            
    return ' '.join(strings)

for token in doc:

    if token._.in_coref:
        chain_roots = token._.coref_clusters[-1].main
        print(token, '=>', chain_roots)
        print(token.sent)
        print(get_coref_string(token.sent))

the => the state of the Union
In the normal course of events, Presidents come to this chamber to report on the state of the Union.

AttributeError: 'Cluster' object has no attribute 'doc'

In [ ]:
np_array[np_array] = nlp.vocab.strings[match_id]

         0      1       2         3
0   please   INTJ          IS_ALPHA
1  welcome   INTJ          IS_ALPHA
2  ekin-su  PROPN  PERSON
3      and  CCONJ          IS_ALPHA
4   davide  PROPN  PERSON  IS_ALPHA

In [46]:
doc[786:812]

This group and its leader -- a person named Usama bin Laden -- are linked to many other organizations in different countries, including the Egyptian Islamic Jihad and the Islamic Movement of Uzbekistan.

In [47]:
for token in doc[786:812]:

    roots = token._.coref_chains.resolve(token)
    
    if roots:
        print(token, '=>', roots)

its => [group]

In [ ]:
for chain in doc._.coref_chains:
    
    root = doc[chain[0][0]]
    
    for mention in chain:
        for ref in mention:
            
            print(doc[ref].sent)
            print(get_coref_string(doc[ref].sent))
        print('----')