# Detecting the Ingroup and Outgroup of a Text
---

In this first experiment we use Bush (2001) and bin Laden’s (19XX) narratives as a dataset to detect the ingroup and outgroup of each. Shown in Figure 1, a manual annotation of two text reveals the ingroups and outgroups for each orator. Bush’s text is his “Address to Joint Session of Congress Following 9/11 Attacks ” made on the 20 September 2001; bin Laden’s text is his “Declaration of Jihad Against the Americans Occupying the Land of the Two Holy Places” published on 23 August 1996. These texts were chosen as they are the first of the dataset in which each declares war against each other. Bush identifies his ingroup as, ‘fellow Americans’, and after identifying al Qaeda as an terrorist organisation, he declares, “Our war on terror begins with al Qaeda”. Bin Laden similarly identifies his ingroup as “Muslim brethren” and declares Jihad against his outgroup of the Americans by stating, “driving back the American occupier enemy is the most essential duty after faith”. The ingroup and outgroup of each text are clearly defined by each orator, as is their intention to legitimise warfare.

## Setup NLP Pipeline and data

In [6]:
%%time
import os
import pandas as pd
import spacy
from cndlib.visuals import display_side_by_side
from cndlib.pipeline import add_hard_coded_entities, merge_compounds, custom_tokenizer

nlp = spacy.load("en_core_web_md")

nlp.tokenizer = custom_tokenizer(nlp)

dirname = "C:\\Users\\spa1e17\\OneDrive - University of Southampton\\Hostile-Narrative-Analysis\\dataset"
filename = "named_entity_corrections.json"
filepath = os.path.join(dirname, filename)

add_hard_coded_entities(nlp, filepath)

merge_ents = nlp.create_pipe("merge_entities")
nlp.add_pipe(merge_ents, after = "entity_ruler")

nlp.add_pipe(merge_compounds, last = True)

print([pipe for pipe in nlp.pipe_names])

['tagger', 'parser', 'ner', 'entity_ruler', 'merge_entities', 'merge_compounds']
Wall time: 3.66 s

### Create the Dataset

The dataset is created by extracting the named entities relating to people or groups, which in turn are annotated in relation to each orator as either ingroup or outgroup. The annotations were made by words signifying group membership, such as "terrorist organisation known as al Qaeda", or by inference using annotator judgement. The annotations are saved in a .csv file and can be reviewed as required.

In [14]:
import os

docs = None
docs = {"bush" : {"name" : "George Bush", "text" : dict()},
       "binladen" : {"name" : "Osama bin Laden", "text" : dict()}}

docs['bush']['dirpath'] = u"C:\\Users\\spa1e17\\OneDrive - University of Southampton\\Hostile-Narrative-Analysis\\dataset\\George Bush"
docs['bush']['text']['filename'] = "20010920-Address to Joint Session of Congress Following 911 Attacks.txt"

docs['binladen']['dirpath'] = u"C:\\Users\\spa1e17\\OneDrive - University of Southampton\\Hostile-Narrative-Analysis\\dataset\\Osama bin Laden"
docs['binladen']['text']['filename'] = "19960823-Declaration of Jihad Against the Americans Occupying the Land of the Two Holiest Sites.txt"
                                                
# lambda function to capture the named entities of a text which are GEP, NORP, ORG or PERSON
entity_list = lambda ents: [ent for ent in ents.noun_chunks 
                            if all((ent.root.pos_ != "ADJ",
                                   ent.root.ent_type_ in ["PERSON", "ORG", "NORP","GPE"]))
                            ]

# lambda function to process doc and extract entities
get_entities = lambda orator : entity_list(nlp(orator["text"]["rawtext"]))

for orator in docs.values():
    
    with open(os.path.join(orator['dirpath'], orator['text']['filename']), 'r') as fp:
    
        # get bush entities
        orator["text"]["rawtext"] = fp.read()
        orator["text"]["entities"] = get_entities(orator)
        orator['text']['analytics'] = dict()

n = 20
captions = [f"First {n} of {len(orator['text']['entities'])} Entities for {orator['name']}" for orator in docs.values()]

display_side_by_side([pd.DataFrame([(ent.text, ent.root.text, ent.root.ent_type_, ent.root.pos_) 
                                    for ent in docs[orator]["text"]["entities"]]).head(20) 
                                   for orator in docs], captions)

### Assigning Ingroup to Outgroup of a Text

Export the entities to an output csv file for manual annotation.

Annotation was based on three methods. Firstly, if the named entity had an associated seed term of either elevation or othering it was annotated as ingroup or outgroup respectively. For example, any seed term associated with the term “enemy” would be considered to be an outgroup, while any entity preceded by the phrase “my fellow” would be annotated as an ingroup. Secondly, any named entity whose grouping was identified elsewhere would be annotated as “linked”. For example, where the single instance of an entity had been annotated as an outgroup through the term “enemy”, all other instances of the same entity would be annotated with the same label. The final method is through inferred knowledge which draws upon real-world knowledge to make the annotation. For review, the annotated dataset is available online  and the first 12 annotation results are in Figure 1.

In [8]:
%time
import csv
import pandas as pd

# Field headers for the csv
fields = ["Orator", "Entity Type", "Part of Speech", "Entity Phrase", "Entity Root", "Grouping", "Seed Term", "Sentence"]
entities = []

for orator in docs:
    for entity in docs[orator]["text"]["entities"]:
        entities.append([orator, entity.root.ent_type_, entity.root.pos_, entity.text, entity.root, '', '', str(entity.sent).replace('\n', ' ').strip()])

dirpath = os.getcwd()
filename = "entity_list.csv"
filepath = os.path.join(dirpath, filename)

df = pd.DataFrame(entities, columns = fields)
df.to_csv(filepath, sep=',',index=False)
df

Wall time: 0 ns

,Orator,Entity Type,Part of Speech,Entity Phrase,Entity Root,Grouping,Seed Term,Sentence
0,bush,PERSON,PROPN,Mr. President Pro Tempore,President Pro Tempore,,,"Mr. Speaker, Mr. President Pro Tempore, member..."
1,bush,ORG,PROPN,Congress,Congress,,,"Mr. Speaker, Mr. President Pro Tempore, member..."
2,bush,NORP,PROPN,fellow Americans,Americans,,,"Mr. Speaker, Mr. President Pro Tempore, member..."
3,bush,ORG,PROPN,the Union,Union,,,"Mr. Speaker, Mr. President Pro Tempore, member..."
4,bush,PERSON,PROPN,Todd Beamer,Todd Beamer,,,"We have seen it in the courage of passengers, ..."
...,...,...,...,...,...,...,...,...
347,binladen,NORP,PROPN,Brother Muslims,Brother Muslims,,,Brother Muslims worldwide:
348,binladen,GPE,PROPN,Palestine,Palestine,,,Your brothers in the land of the two holy mosq...
349,binladen,NORP,PROPN,the Jews,Jews,,,"O God, the people of the cross have come with ..."
350,binladen,NORP,PROPN,Muslims,Muslims,,,"O God, strengthen the youth of Islam, guide th..."
351,binladen,PERSON,PROPN,messenger Muhammad,messenger Muhammad,,,"O God, bless your subject and messenger Muhamm..."

### Import the Annotations as a Tab Deliminated File

The annotation file is saved as a .txt file and imported using tab delimiations to avoid any clashes with sentence commas.

In [15]:
import os
import csv
import pandas as pd
from cndlib.visuals import display_side_by_side

filename = "entity_list_gold.txt"
filename = os.path.join(os.getcwd(), filename)

for orator in docs:
    docs[orator]['text']['groups'] = {"ingroup" : set(), "outgroup" : set()}

with open(filename, newline = "") as fp:
    data = csv.DictReader(fp, delimiter = '\t')       
        
    for row in data:

        if row["Grouping"].lower().strip() == "ingroup":
            docs[row["Orator"]]['text']['groups']["ingroup"].add(row["Entity Root"].lower().strip())

        if row["Grouping"].lower().strip() == "outgroup":
            docs[row["Orator"]]['text']['groups']["outgroup"].add(row["Entity Root"].lower().strip())
            
dfs = []
captions = []
for orator in docs.values():
    data = orator['text']['groups']
    
    for grouping, group_list in data.items():
        
        # convert set() to list()
        data[grouping] = list(data[grouping])
        
        dfs.append(pd.DataFrame(group_list, columns = [f"{orator['name']}'s {grouping.title()}s"]).head(12))
        captions.append(f"{orator['name']}'s text has {len(group_list)} annotated {grouping} terms")
        
display_side_by_side(dfs, captions)

## Test 1: Testing IBM Watson Sentiment Analysis

IBM's sentiment analyser has a feature to "analyse target phrases in context of the surrounding text for focused sentiment and emotion results"  . For the first test, therefore, the named entities shown in figure 1 for each orator were passed to the API to get the sentiment scores for each. A positive score towards a named entity should infer ingroup membership, while a negative score should infer outgroup membership. The annotated entity phrases were passed to the API as target phrases and results were assessed against the annotations from figure 1. If positive sentiment scores correlated with an ingroup annotation or negative scores correlated with outgroup, the test was a pass; the test was a fail for positive score correlating with outgroup, or negative scores correlating with ingroup.

API Documentation: https://cloud.ibm.com/docs/natural-language-understanding?topic=natural-language-understanding-getting-started

### Initiate Watson API

In [430]:
%%time
import json
from ibm_watson import NaturalLanguageUnderstandingV1
from ibm_cloud_sdk_core.authenticators import IAMAuthenticator
from ibm_watson.natural_language_understanding_v1 import EmotionOptions, Features, EntitiesOptions, KeywordsOptions, SentimentOptions

apikey = 'D3ptPkoLkoQNJvIav-reiA5137cr3m8Y1f-mhX1bLile'
url = 'https://api.eu-gb.natural-language-understanding.watson.cloud.ibm.com/instances/204e6ba7-952c-41ae-99e9-fe4e8208bfde'

authenticator = IAMAuthenticator(apikey)
service = NaturalLanguageUnderstandingV1(version='2019-07-12', authenticator=authenticator)
service.set_service_url(url)

# print(json.dumps(response, indent=2))

Wall time: 3.39 ms

### Get Responses from Watson API

In [17]:
%%time
import json

for orator in docs.values():
    print(f"getting results for {orator['name']}")
    
    text = orator['text']['rawtext']
    targets = orator['text']['groups']['ingroup'] + orator['text']['groups']['outgroup']
    
    orator['text']['analytics'].update(service.analyze(text=text, features = Features(
                                                        emotion = EmotionOptions(targets = targets),
                                                        entities = EntitiesOptions(sentiment = True, emotion = True),
                                                        sentiment = SentimentOptions(targets = targets, document = True),
                                                        keywords = KeywordsOptions(sentiment = True, emotion = True),             
                                                      )).get_result())
    
    #empty the list of entity Spans to enable saving file as a json object
    orator['text']['entities'] = None
    
    print(f"{orator['name']} complete with {len(orator['text']['analytics']['sentiment']['targets'])} target entities scored for sentiment")


with open(os.path.join(os.getcwd(), f"entity_sentiment_scores.json"), "wb") as f:
    f.write(json.dumps(docs).encode("utf-8"))

getting results for George Bush
George Bush complete with 33 target entities scored for sentiment
getting results for Osama bin Laden
Osama bin Laden complete with 41 target entities scored for sentiment
Wall time: 11.2 s

### Overall Document Sentiment Score

In [2]:
import os
import json

docs = None

with open(os.path.join(os.getcwd(), f"entity_sentiment_scores.json"), "r") as f:
    docs = json.load(f)

for orator in docs.values():
    response = orator['text']['analytics']
    print(f"document sentiment {orator['name']}: {response['sentiment']['document']['label']}")
    print(f"document sentiment score for {orator['name']}: {response['sentiment']['document']['score']}")
    print()

document sentiment George Bush: negative
document sentiment score for George Bush: -0.331922

document sentiment Osama bin Laden: negative
document sentiment score for Osama bin Laden: -0.475387

### Scores for Annotated Entities

In [16]:
import pandas as pd
from cndlib.visuals import display_side_by_side

def get_group(orator, entity):

    """
    function to get the grouping of an entity from the orator's groupings
    """
    if entity in docs[orator]['text']['groups']['ingroup']:
        return "ingroup"
    if entity in docs[orator]['text']['groups']['outgroup']:
        return "outgroup"
    return "not found"

def assessment_test(col1, col2):

    """
    function to test whether a sentiment scores matches ingroup/outgroup
    """

    if col1 == "positive" or col1 == "neutral" and col2 == "ingroup":
        return "pass"
    if col1 == "negative" and col2 == "ingroup":
        return "fail"
    if col1 == "negative" and col2 == "outgroup":
        return "pass"
    if col1 == "positive" or col1 == "neutral" and col2 == "outgroup":
        return "fail"
    
# create new dataframe based on filtered columns
scores = lambda table, labels: table[table.label.isin(labels)].sort_values("score", ascending = 'negative' in labels, ignore_index = True)

## iterate through the docs
for orator in docs:
    
    # capture results
    results = pd.DataFrame(docs[orator]["text"]['analytics']["sentiment"]["targets"])
    
    ## create a dataframe for positive and negative results
    dfs = dict()
    dfs = {"ingroup" : {"result" : None, "df" : scores(results, ['neutral', 'positive'])}, 
           "outgroup" : {"result" : None, "df" : scores(results, ['negative'])}}

    for obj in dfs.values():
        
        df = obj["df"]
            
        # get the grouping for each entity
        df["grouping"] = df.apply(lambda x: get_group(orator, x["text"]), axis = 1)
        
        # test whether sentiment score matches ingroup/outgroup        
        df["test result"] = df.apply(lambda x: assessment_test(x["label"], x["grouping"]), axis=1)
        
        # get the success scores for ingroup and outgroup
        obj["result"] = format(df["test result"].value_counts(normalize = True)["pass"], '.0%')
        
        # format dataframe
        df.drop('mixed', axis = 1, inplace = True)
        df['text'] = df['text'].str.title()
        df.rename(columns = {"score" : "sentiment score", "text" : "entity text"}, inplace = True)
        df.columns = df.columns.str.title()

    docs[orator]['text']['analytics']['sentiment']['dfs'] = dfs
    
    # display the outputs
    display_side_by_side([output["df"] for output in dfs.values()],
                         [f"{key.title()} scores for {docs[orator]['name']} has a True Positive Score of {obj['result']} from a total of {len(obj['df'])} Entities"
                         for key, obj in dfs.items()])
    print()

# dfs = []
# captions = []
# for orator in docs.values():
#     for group, df in orator['text']['analytics']['sentiment']['dfs'].items():
#         dfs.append(df['df'].head(13)
#         captions.append(f"{group.title()} scores for {orator['name']} has a Success of {df['result']} from a total of {len(df['df'])} Entities")
        
# display_side_by_side(dfs, captions)

In relation to the annotation methods, these are somewhat counter-intuitive results. For Bush’s outgroups the phrases ‘al Qaeda’, ‘Taliban’, ‘the Taliban Regime’, ‘al Qaeda’ and ‘Islamic Movement of Uzbekistan’ are annotated as outgroups and generate negative scores between -0.56 and -0.81 as expected. The phrases, ‘the United States’, ‘America’, ‘Americans’, ‘the United States of America’ and ‘United States Authorities’, however, are annotated as ingroups, but generate negative scores between -0.31 and -0.65. These overlapping range of scores do not correlate with how a President would refer to his country in a time of national mourning. 

The phrases, ‘Christians’, ‘Jews’, ‘Muslims’ and ‘Arlene’ generate the most negative results for Bush despite being annotated as ingroups. Of these ‘Arlene’ is the most negative with a score of -0.87 and occurs in the sentence, ‘It was given to me by his mom, Arlene, as a proud memorial to her son’. This mention is in reference to a Police Shield given to George Bush by Arlene Howard in memorial to her son George who was killed in the attacks. The context in which ‘Arlene’ is mentioned is entirely positive. 
There are 37 annotations for entities associated with elevation or othering seed terms. Any phrase containing the word, ‘enemy’ would reasonably be scored as negative. The phrase, ‘US Enemy’, nevertheless, generates a score of +0.42, which is higher than ‘Gabriel’ at +0.38, a reference to the Angel Gabriel who bin Laden repeatedly reveres. Equally, bin Laden refers to the ‘mujahidin’ as ‘our brothers the people’ yet generates a score of -0.47, which is more negative than both ‘Americans’ and ‘Marines’ at -0.28 and -0.36 respectively. Bush’s phrase, “The enemy of America is not our many Muslim friends” establishes Muslims as an ingroup, whereas the term, ‘Muslims’ generates the second most negative score of -0.83.

There is also problem with how different mentions of the same entity are linked across a narrative.  Despite being an outgroup of bin Laden, ‘Israel’ receives the third highest score of +0.44 behind a reference to President Clinton at +0.84 and ‘brother Muslims’ at +0.64. “Israel” is mentioned once in bin Laden’s text, but there are two mentions of the “Israeli-American alliance”, one mention of “Israeli-American enemy alliance” and one mention of “Israelis” in the phrase, “their Jihad against their enemies and yours, the Israelis and Americans”. Where bin Laden’s counter-intuitively generates positive scores for Israel, the phrases, ‘Jewish-Crusade Alliance”, “Jew” and “Jews” each generate negative scores as expected. Against expectations, however, the phrases, ‘Muslim’, ‘Muslims’ and ‘Ulema’ generate negative scores of +0.60, +0.62 and +0.64 respectively despite the phrase, ‘brother Muslims’ receiving the second highest score for positivity. There are 43 annotations that rely upon linking entities to specific clauses of elevation or othering, resolving these different mentions of the same entity might produce more intuitive results.

In addition to linking entities, there is also a problem with linking them to specific noun phrases. In Bush’s text, “Osama bin Laden” and “Egyptian Islamic Jihad” generate neutral scores, whereas they are annotated as his outgroups. They occur in the phrase, “This group and its leader -- a person named Usama bin Laden -- are linked to many other organizations in different countries, including the Egyptian Islamic Jihad and the Islamic Movement of Uzbekistan.”. The noun phrase, “this group” refers to a mention of al Qaeda in the previous paragraph who Bush variously others as “terrorists” and “murderers”. Nevertheless, there is no obvious way to resolve, ‘this group’ to ‘al Qaeda’ to establish group status of bin Laden or the Egyptian Islamic Jihad. Their annotation relies upon real-world knowledge for which there are 57 annotations in the dataset. Given these entities are only mentioned once, real-world knowledge is the only way to identify their group status.

Beyond linking seed terms to entities, there is also a problem with linking entities to functional narrative clauses. For bin Laden, the phrase, ‘Prophet’ – a reference to Muhammed – generates a negative score of -0.53 despite being a religious figure of bin Laden’s ingroup ‘America’ generating a less negative score. 12 out of 28 mentions of ‘Prophet’ are followed by the phrase, ‘may God's prayers and blessings be upon him’, which is used as a religious narrative clause to elevate the entity associated with the pronoun, ‘him’. This clause is functionally similar to ‘God bless America’, which sanctifies the object of the clause, in this case ‘America’. Such as use of religion should attract high scores of positivity for sentiment analysis, which appears to be unlikely for this algorithm.

### Scores for Watson Defined Entities

In [63]:
# get emotion scores
# entry["emotion"]["sadness"], entry["emotion"]["joy"], entry["emotion"]["fear"], entry["emotion"]["disgust"], entry["emotion"]["anger"]) 

columns = ["Entity", "Sentiment Score", "Sentiment Label"]

scores = lambda labels, table: pd.DataFrame( # get sentiment scores
                                            [(entry["text"], entry["sentiment"]["score"], entry["sentiment"]["label"]) 
                                                                                  
                                             # iterate through table if positive/negative
                                             for entry in table if entry["sentiment"]["label"] in labels], 
                                            
                                            # set column names
                                            columns = columns) \
                                            \
                                            .sort_values("Sentiment Score", ascending = label not in labels, ignore_index = True) 


                                            

for orator in docs.values():
    results = orator['text']['analytics']['entities']
    n = 10
    display_side_by_side([scores(['positive', 'neutral'], results).head(n), scores(['negative'], results).head(n)], 
                         [f"Top 10 Positive Scores for API Defined Entities in {orator['name']}'s Dataset'", 
                          f"Top 10 Negative Scores for API Defined Entities in {orator['name']}'s Dataset'"])
    print()

## Test 2: Proximity of Named Entities to Seed Terms

In [655]:
import tqdm
import pickle

group = ["the United States of America", "Americans", "America", "The United States"]

term = None
results = dict()
for sentence in doc.sents:
    terms = set(group).intersection(set([token.text.strip() for token in sentence]))
    if terms:
        term = list(terms)[0]
        terms = [token.text for token in sentence if token.pos_ in ["NOUN", "VERB"]]
        if term and term in results.keys():
            results[term].extend(terms)
        elif term:
            results[term] = terms
            
ibm_df = dict()
n = 1
for entity, terms in tqdm.tqdm(results.items()):
    
    ibm_df[entity] = {"positive" : list(), "negative" : list(), "neutral" : list()}
    for term in terms:
        analytics = service.analyze(text=term, features=Features(
                                    sentiment=SentimentOptions()),
                                    language = "en").get_result()
        sentiment = analytics['sentiment']['document']
        score = {term : round(sentiment['score'], 2)}
                                    
        if sentiment['label'] == "positive":
#             print(f"appending {score} to {entity}['positive']")
            ibm_df[entity]['positive'].append(score)
        
        elif sentiment['label'] == "negative":
#             print(f"appending {score} to {entity}['negative']")
            ibm_df[entity]['negative'].append(score)
        
        elif sentiment['label'] == "neutral":
#             print(f"appending {score} to {entity}['neutral']")
            ibm_df[entity]['neutral'].append(score)

with open(os.path.join(os.getcwd(), f"manual_cooccurring_scores.json"), "wb") as f:
    f.write(json.dumps(ibm_df).encode("utf-8"))
    
filepath = os.getcwd()
pickle_filename = "ibm_cooccuring_scores.pkl"
with open(os.path.join(filepath, pickle_filename), 'wb') as file:
    pickle.dump(ibm_df, file)

100%|██████████| 4/4 [01:16<00:00, 19.08s/it]

## Load and Display the Results

In [10]:
import os
import pickle
import pandas as pd
from statistics import mean
from cndlib.visuals import display_side_by_side

# load file from disc
filepath = os.getcwd()
pickle_filename = "ibm_cooccuring_scores.pkl"
with open(os.path.join(filepath, pickle_filename), 'rb') as file:
    ibm_df = pickle.load(file)

def get_sentiment(entity):
    
    """
    function to get the sentiment score for the entity being assessed
    """
    
    for target in docs['bush']["text"]['analytics']["sentiment"]["targets"]:
        if target['text'] == entity.lower():
            return target['score']
        
def get_averages_row(df):
    
    """
    function to get the average scores for each sentiment polarity
    """
    
    averages = list()
    for result in df.columns:
        averages.append(f"Average ({round(mean([score.get(list(score.keys())[0]) for score in df[result].tolist() if isinstance(score, dict)]), 2)})")
    return pd.DataFrame(dict(zip(df.columns, averages)), index=[0])

## create DataFrames from the results
dfs = [pd.DataFrame(dict([(k, pd.Series(v, dtype='object')) 
                          for k,v in ibm_df[d].items() 
                          if k in ['positive', 'negative', 'neutral']])) 
       for d in ibm_df]

## function to get the length of the greater number of positive or negative results
get_table_size = lambda df: max([value.count() for key, value in df.items() if key in ['positive', 'negative']])

## cell formatting function to convert the dictionary results to a string
format_cell = lambda x: f"{list(x.items())[0][0]} ({list(x.items())[0][1]})"

## get DataFrame caption
captions = [f"Entity: '{d}' - sentiment {round(get_sentiment(d), 2)}" for d in ibm_df]
    
## display DataFrames
display_side_by_side([df
                      .head(get_table_size(df)) # shrink table to longest of either positivity or negativity
                      .applymap(format_cell, na_action='ignore') # reformat dictionary results to strings
                      .fillna('').append(get_averages_row(df), ignore_index = True) # append the average scores for each columns
                      .rename(columns={key : f"{key.title()}, ({value.count()} Terms)" for key, value in df.items()}) # rename columns to include number of entities
                      for df in dfs], captions)